Linde N8n Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## 1. Setup: Fetch file from Google Drive, split it into chunks and insert into a vector database\nNote that running this part multiple times will insert multiple copies into your DB",
        "height": 728.4168721167887,
        "width": 1086.039382705461,
        "color": 7
      },
      "id": "d84793ac-c71a-4678-a386-639599e3ab7b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Chat with file, getting citations in reponse",
        "height": 529,
        "width": 1594,
        "color": 7
      },
      "id": "6ec9f5a8-cca1-465f-b11c-eef98d4dc90e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Will fetch the Linde Product Data Sheets",
        "height": 257.75985739596473,
        "width": 179.58883583572606,
        "color": 7
      },
      "id": "25015e3b-5364-4345-8cef-ba15d5907301",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinecode-vector-db-embedding-large-3072",
          "mode": "list",
          "cachedResultName": "pinecode-vector-db-embedding-large-3072"
        },
        "options": {}
      },
      "id": "393ee16e-48d2-4feb-85cd-79edc5574850",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        528,
        -64
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "hgnuyHwY6hQPWfli",
          "name": "PineconeApi account Multiple files upload"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc7a70e3-9b04-404b-8892-ba0fcc4274c2",
              "name": "file_url",
              "type": "string",
              "value": "https://drive.google.com/file/d/1AZFfp8saag128NdylGK_42lB0ZJOHFtU/view?usp=drive_link"
            }
          ]
        },
        "options": {}
      },
      "id": "a1030587-9ade-4757-b9c1-b8aba5a11276",
      "name": "Set file URL in Google Drive",
      "type": "n8n-nodes-base.set",
      "position": [
        -144,
        224
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json['id']}}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "6cce83a1-db10-4daf-97a1-1a6b17317aa2",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        320,
        -64
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W43GDm2segtxgxAV",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_url",
                "value": "={{ $json.file_url }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Download file2').first().binary.data.fileName }}"
              }
            ]
          }
        }
      },
      "id": "88385e99-3bba-4740-8f34-7135cd5ba2a9",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        624,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "80f3d7bc-61fb-4c48-85e6-b558d6506973",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        704,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33f4addf-72f3-4618-a6ba-5b762257d723",
              "name": "chunks",
              "type": "number",
              "value": 4
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "19bcfedb-e25d-48f4-9f56-ef61bbd0f4f8",
      "name": "Set max chunks to send to model",
      "type": "n8n-nodes-base.set",
      "position": [
        368,
        864
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinecode-vector-db-embedding-large-3072",
          "mode": "list",
          "cachedResultName": "pinecode-vector-db-embedding-large-3072"
        },
        "prompt": "={{ $('On GET request1').item.json.body.message }}",
        "topK": "={{ $json.chunks }}",
        "options": {}
      },
      "id": "c8c89c9a-64fd-46c0-92c4-fc26a382b4cc",
      "name": "Get top chunks matching query",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        560,
        864
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "hgnuyHwY6hQPWfli",
          "name": "PineconeApi account Multiple files upload"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let out = \"\"\nfor (const i in $input.all()) {\n  let itemText = \"--- CHUNK \" + i + \" ---\\n\"\n  itemText += $input.all()[i].json.document.pageContent + \"\\n\"\n  itemText += \"\\n\"\n  out += itemText\n}\n\nreturn {\n  'context': out\n};"
      },
      "id": "7a86b5f2-d81a-4139-b05b-5a7f5d80fa06",
      "name": "Prepare chunks",
      "type": "n8n-nodes-base.code",
      "position": [
        944,
        864
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "text": "={{ $json.context }}\n\nQuestion: {{ $('On GET request1').first().json.body.message }}\nHelpful Answer:",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"answer\", \"citations\"],\n  \"properties\": {\n    \"answer\": {\n      \"type\": \"string\"\n    },\n    \"citations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"number\"\n      }\n    }\n  }\n}",
        "options": {
          "systemPromptTemplate": "=Role & Purpose\nYou are the Linde Gas AI Assistant. Your primary function is to help users find, understand, and extract information strictly from the provided Product Data Sheets (PDS) and Safety Data Sheets (SDS). Treat the provided passages as your entire knowledge base. Never use outside knowledge.\n\nCore Behavior & Tone\n\nPrimary Tone: Helpful, professional, and conversational. Be a friendly and knowledgeable expert.\n\nInteraction Style: Respond in an interactive and natural way. Mirror the user's language (English or neutral Hinglish) while maintaining technical clarity.\n\nGrounding Rule: Answer only from the provided context. Do not guess, hallucinate, or use pre-trained knowledge. Preserve all data (numbers, units, names) exactly as written.\n\nInteraction Guidelines\n1. Greeting & Initial Interaction\nWhen a conversation starts, greet the user in a warm, interactive way to build a natural rapport. Your opening should be brief and set clear expectations.\n\nExample Greeting:\n\"Hello! I'm your Linde Gas Assistant, here to help you get instant answers from our Product and Safety Data Sheets. Just let me know what you're looking for – like a product name, UN number, or a specific property – and I'll find the verified details for you.\"\n\n2. Responding to \"Can you help me?\" or Similar Queries\nIf a user asks about your capabilities, respond interactively to explain what you can do, encouraging them to proceed.\n\nExample Response:\n\"Absolutely, I'm here to help! I can search through Linde's Data Sheets to provide you with precise information on things like safety hazards, transport details, physical properties, and more. What specific product or information do you need help with today?\"\n\n3. Providing Data & Answering Specific Queries\nFor all factual queries, provide the answer in a clear, humanly interactive way. Start with a direct, conversational answer before listing the precise data.\n\nStructure your answers as:\n\nAcknowledge & Conclude: Start with a brief, conversational sentence that answers the question.\n\nPresent Data: Follow with the key data in crisp bullets or a short table.\n\nEmphasize Safety: If the data includes critical warnings, surface them clearly.\n\nCite Source: Always end with the source.\n\nExample for a specific query (UN Number):\n\nUser: \"What's the UN number for Oxygen?\"\n\nYour Response:\n\"Of course. For Oxygen, compressed, the UN number is 1072.\"\n\nUN Number: 1072\n\nProper Shipping Name: Oxygen, compressed\nSource: Product_Data_Sheet_O2_10021701EN.pdf\n\n4. Handling Missing Information or Refusals\nIf the requested information is not in the provided context, be transparent and helpful.\n\nExample Response:\n\"I've looked through the data sheets, but I couldn't find the specific details you're asking for. To help me search again, could you provide the product name, grade, or point me to a specific section (e.g., 'Transport Section')?\"\n\n5. Final Guardrails\n\nDo NOT state or imply anything not present in the provided passages.\n\nDo NOT provide medical advice or emergency procedures beyond what is written. Politely decline and redirect to the PDS/SDS content.\n\nDo NOT merge data from different products unless the document explicitly does so.\n\nAlways cite your source at the end of every answer: Source: <filename>"
        }
      },
      "id": "5b073b48-4ffe-4ecc-8427-3d58d4314380",
      "name": "Answer the query based on chunks",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        1152,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ace6185e-8b3d-4f89-ae36-dfe0c391a0a9",
              "name": "answer",
              "type": "string",
              "value": "={{ $json.output.answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "932db77a-790e-4020-8d0d-e3102afb413c",
      "name": "Compose citations",
      "type": "n8n-nodes-base.set",
      "position": [
        1504,
        864
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11396286-0378-4c3a-86e1-c9ef51afbfc7",
              "name": "text",
              "type": "string",
              "value": "={{ $json.answer }} {{ $if(!$json.citations.isEmpty(), \"\\n\" + $json.citations.join(\"\"), '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2f3f7df2-cd0c-48fc-84f3-737e777d0dfe",
      "name": "Generate response",
      "type": "n8n-nodes-base.set",
      "position": [
        1712,
        864
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        512,
        144
      ],
      "id": "d696564f-5002-40c8-9173-71eb3f7465a4",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        560,
        1088
      ],
      "id": "00cf4a83-dc21-4a72-9a03-de9aaeceb256",
      "name": "Embeddings Azure OpenAI1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1152,
        1088
      ],
      "id": "9617e40d-372a-4969-954f-ce30a5569bcc",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-with-linde-ai-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5be33fa0-e2c5-4800-ab3d-332cad65572e",
      "name": "On GET request1",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1328,
        992
      ],
      "webhookId": "454eb4ea-e460-4196-b31c-284abf234fc3",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify(\n    (() => {\n      // 1) Answer text from your LLM step\n      const answer = $('Generate response').first().json.text;\n\n // Check if Intent Agent se type mil sakta hai\n      const intentData = $('Intent Agent').first().json || {};\n      const intentType = $('downstream node').first().json?.intent || 'datasheet';\n\n      // 2) Take the *first* matched chunk (it already has the correct metadata)\n      const meta = $('Get top chunks matching query')\n        .first()\n        .json?.document?.metadata ?? {};\n\n      // 3) Build doc_id and fallback-safe fields\n      const fileName = meta.file_name || '';\n      const parts = fileName.replace(/\\.pdf$/i, '').split('_');\n      const docId = parts.slice(-2).join('_'); // e.g. \"Sheet_CO2\"\n\n   // Correct file_url source extraction\n      const fileUrl =\n        meta.file_url ||\n        meta.source?.file_url ||\n        meta.webContentLink ||\n        meta.webViewLink ||\n        '';\n\n      \n      // Do not return a source chip if LLM said it couldn't find the data\n      const NOT_FOUND_PHRASES = [\"couldn't find\",\"could not find\",\"not found\",\"no information\",\"i don't have\",\"unable to find\",\"not present in\",\"not available in\",\"doesn't contain\",\"does not contain\",\"cannot find\",\"not in the provided\",\"not mentioned\",\"not specified\"];\n      const lowerAns = answer.toLowerCase();\n      const dataNotFound = NOT_FOUND_PHRASES.some(p => lowerAns.includes(p));\n\n      return {\n        response_message: answer,\n        sources: dataNotFound ? [] : [{\n          doc_id: docId || meta.doc_id || '',\n          title: fileName || meta.title || '',\n          file_url: fileUrl,\n          type: intentType\n        }],\n        meta: {\n          confidence: $('downstream node').first().json?.confidence ?? null\n        }\n      };\n    })()\n  )\n}}\n",
        "options": {
          "responseCode": 200
        }
      },
      "id": "785d1931-8786-4575-9575-bca27f4ff229",
      "name": "Respond with attachment1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        2000,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "download-linde-pdf-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "956e1b77-59d6-4682-81c1-49944ccc1d18",
      "name": "Download Document API",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1376,
        -64
      ],
      "webhookId": "454eb4ea-e460-4196-b31c-284abf234fc3",
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.body.file_url || $json.file_url }}",
          "mode": "url"
        },
        "options": {}
      },
      "name": "Google Drive For Stored PDF",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -1136,
        -64
      ],
      "typeVersion": 1,
      "id": "0bfb2e13-1ac2-43f0-9c72-40f61d39971a",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W43GDm2segtxgxAV",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/pdf"
              },
              {
                "name": "Content-Disposition",
                "value": "={{ 'attachment; filename=\"' + ($json.body.filename || $json.filename || 'document') + '\"' }}"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Expose-Headers",
                "value": "Content-Disposition"
              }
            ]
          }
        }
      },
      "id": "160ac84e-a9d0-4e06-89d6-8786e7780534",
      "name": "Respond with attachment PDF",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -816,
        -64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Upload Product Data Sheet",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Product_Data_Sheet_PDF",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -336,
        -64
      ],
      "id": "0ea3933c-7ac2-4fd7-af03-10a0a5727183",
      "name": "Upload Product Data Sheet",
      "webhookId": "44364e76-8140-4c53-b4d8-04ede91fd93c",
      "disabled": true
    },
    {
      "parameters": {
        "inputDataFieldName": "file",
        "name": "={{$binary.file.fileName}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Dz2rwk6DDMtB7y8uQJHjqNGnGdDyQbXT",
          "mode": "list",
          "cachedResultName": "Linde Data Sheets",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Dz2rwk6DDMtB7y8uQJHjqNGnGdDyQbXT"
        },
        "options": {}
      },
      "id": "994e260e-09a3-4bc4-ae1d-7c9ebb4d0c24",
      "name": "Upload File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        128,
        -64
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W43GDm2segtxgxAV",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -1200,
        1200
      ],
      "id": "722e0db1-48c0-4f14-b6f3-d3fe06a408af",
      "name": "Azure OpenAI Chat Model2",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ---- Safe read helpers ----\nfunction safeParse(v) {\n  if (!v) return null;\n  if (typeof v === 'object') return v;\n  if (typeof v === 'string') {\n    let s = v.trim();\n    // strip code fences like ```json ... ```\n    s = s.replace(/^```(?:json)?/i, '').replace(/```$/i, '').trim();\n    try { return JSON.parse(s); } catch { return null; }\n  }\n  return null;\n}\nconst userMsg =\n  $json.message ||\n  $json.body?.message ||\n  $json.query?.message ||\n  '';\n\n// AI Agent may return JSON string in output/result or an object at top-level\nconst raw =\n  safeParse($json.output) ||\n  safeParse($json.result) ||\n  ($json.intent ? $json : {}) ||\n  {};\n\nconst e = raw.entities || {};\nconst norm = (v) => (v == null ? '' : (typeof v === 'string' ? v.trim() : v));\n\n// Gas normalization (aliases)\nconst gasAlias = {\n  o2: 'Oxygen', oxygen: 'Oxygen',\n  n2: 'Nitrogen', nitrogen: 'Nitrogen',\n  h2: 'Hydrogen', hydrogen: 'Hydrogen',\n  co2: 'Carbon Dioxide', 'carbon dioxide': 'Carbon Dioxide',\n  ar: 'Argon', argon: 'Argon',\n  he: 'Helium', helium: 'Helium',\n  ch4: 'Methane', methane: 'Methane'\n};\nconst gasRaw = norm(e.gas);\nconst gasNorm = gasAlias[String(gasRaw).toLowerCase()] || gasRaw;\n\n// Intent with fallbacks\nlet intent = String(raw.intent || '').toLowerCase() || 'unknown';\n\n// If classifier was unsure, fix common cases via heuristics\nif (intent === 'unknown') {\n  const t = String(userMsg).toLowerCase().trim();\n\n  // Greeting / small talk\n  if (/^(hi|hello|hey|yo|hii+|good (morning|afternoon|evening)|how (are|r) (you|u)|who (are|r) you|thanks?|ok(ay)?)\\b/.test(t)) {\n    intent = 'greeting';\n  }\n  // Clear datasheet keywords\n  else if (/(msds|sds|tds|data ?sheet|spec(ification)? ?sheet|product ?sheet|safety ?sheet)/i.test(userMsg)) {\n    intent = 'datasheet';\n  }\n}\n\nconst duration = Number.isFinite(+e.duration_min) ? +e.duration_min : 0;\n\nreturn {\n  intent,\n  confidence: Number(raw.confidence ?? 0),\n  entities: {\n    gas: gasNorm,\n    sheet_id: norm(e.sheet_id),\n    purity: norm(e.purity),\n    quantity: norm(e.quantity),\n    location: norm(e.location),\n    email: norm(e.email),\n    phone: norm(e.phone),\n    account_no: norm(e.account_no),\n    order_no: norm(e.order_no),\n    preferred_date: norm(e.preferred_date),\n    preferred_time: norm(e.preferred_time),\n    duration_min: duration,\n    notes: norm(e.notes)\n  },\n  // convenience for downstream nodes\n  message: userMsg\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        992
      ],
      "id": "b3f37239-e0a0-46db-b85b-a873bcb1804e",
      "name": "downstream node"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "datasheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c0606e10-05c5-42b5-90b0-349a3a9037cb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d4916df-0070-43f7-ac4c-546d041f41b9",
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "quotation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Quotation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c819e6ad-318d-44a0-b006-bdc0bf6b41d7",
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "appointment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abf4547a-4b6a-4ed9-91a0-be3c4824c841",
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "delivery_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Delivery"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd745a8f-6bb2-4e86-83d3-8839a470d5be",
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "greeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "greeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36d42c4e-b64d-4921-a6c2-360afc97b128",
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "smalltalk",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "smalltalk"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "availability",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "availability"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -608,
        880
      ],
      "id": "fad19f93-4cd6-4f1a-839e-759ef950a100",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "conf001-cond-confidence-threshold",
              "leftValue": "={{$json.confidence}}",
              "rightValue": 0.6,
              "operator": {
                "type": "number",
                "operation": "gte",
                "name": "filter.operator.gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "conf001-aaaa-bbbb-cccc-000000000010",
      "name": "Confidence Gate",
      "type": "n8n-nodes-base.if",
      "position": [
        -704,
        880
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify({\n    response_message: \"I'm not sure I understood your request. Could you please clarify? I can help with product datasheets, quotations, delivery status, product availability, or scheduling a meeting.\",\n    sources: []\n  })\n}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "conf001-aaaa-bbbb-cccc-000000000011",
      "name": "Respond Clarification",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -464,
        720
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are an INTENT ROUTER for an industrial gases assistant (Linde Gas).\nALWAYS return STRICT JSON that matches the schema below. No prose.\n\nIntents and when to use them:\n\n- datasheet:  \n  User asks for a product/technical data sheet OR info about a gas (e.g., H2, N2, O2, CO2, Argon…), purity, composition, hazards, handling, storage, MSDS/TDS, “send/download sheet”, etc.  \n  Map “msds”, “tds”, “spec sheet”, “product sheet”, “safety sheet”, “data sheet” ⇒ datasheet.  \n  Detect gas names/symbols: hydrogen/H2, nitrogen/N2, oxygen/O2, argon/Ar, CO2, helium/He, etc.\n\n- quotation:  \n  User asks for a price/quote for a gas/cylinder/mixture, or to place an order.  \n  Extract quantity, purity, location, email/phone if present.\n\n- appointment:  \n  User wants to schedule or send an invite for a meeting, call, demo, training, or site visit.  \n  Trigger this intent if the message includes any phrase about **scheduling, booking, arranging, fixing, or inviting** for a meeting/call/demo/visit.  \n  Common trigger patterns include:  \n  “schedule a meeting”, “set up a call”, “book an appointment”, “fix a demo”, “arrange a site visit”, “send an invite”, “send meeting invite”, “add to calendar”, “block my calendar”, “organize a meeting”, “invite for discussion”, etc.  \n  Hinglish equivalents: “meeting schedule karo”, “call fix kar do”, “appointment book karo”, “invite bhej do”, “calendar me daal do”, “site visit plan karo”, “demo schedule karo”, “meeting ka invite bhejo”.  \n  Always prefer `appointment` when user asks to **create**, **schedule**, or **send an invite** (not when asking to cancel or move).  \n\n  Extract entities if present:  \n  - `preferred_date`: any date text (e.g. “10 Dec 2025”, “tomorrow”, “next Monday”).  \n  - `preferred_time`: any time text (e.g. “2 pm”, “14:00”, “morning”, “after lunch”).  \n  - `duration_min`: numeric duration in minutes (parse phrases like “30 mins”, “1 hour” → 60).  \n  - `email`: attendee email(s) if user provides any.  \n  - `location`: meeting venue or platform (“Google Meet”, “Zoom”, “Teams”, “on site”).  \n  - `notes`: any agenda or contextual message (e.g. “discussion about CO2 supply”).  \n  If nothing found, leave fields empty.\n\n- delivery_update:  \n  User asks delivery/shipment/status/ETA/tracking for an existing order.  \n  Extract order_no or account_no if present.\n\n- greeting:  \n  Simple greetings or pleasantries (e.g., “hi”, “hello”, “hey”, “good morning/afternoon/evening”, “how are you”, “who are you”).  \n  If message only greets → choose `greeting` (NOT unknown).\n\n- smalltalk:  \n  Casual talk not task-related (e.g., “what’s up”, “thank you”, “ok”, emoji-only responses).\n\nExtraction rules:\n- Be conservative: if it’s *only* a greeting → `greeting`.  \n- Numbers like “99.999%”, “5.0” or “UHP” ⇒ purity.  \n- If user asks both for datasheet + quotation, prefer quotation.  \n- For appointment intent, detect variants of “schedule”, “meeting”, “invite”, “call”, “demo”, “visit”, “training”.\n\nOutput JSON schema (MUST MATCH KEYS exactly):\n\n{\n  \"intent\": \"datasheet\" | \"quotation\" | \"appointment\" | \"delivery_update\" | \"greeting\" | \"smalltalk\",\n  \"entities\": {\n    \"gas\": string,           // e.g. \"N2\", \"Oxygen\", empty \"\" if not found\n    \"sheet_id\": string,      // e.g. \"Sheet_N2\" or file name if obvious\n    \"purity\": string,        // e.g. \"99.999%\", \"5.0\", \"UHP\"\n    \"quantity\": string,      // e.g. \"2 cylinders\", \"50 m3/month\"\n    \"location\": string,      // e.g. \"Berlin\", \"Google Meet\", or \"\"\n    \"email\": string,         // e.g. \"abc@domain.com\"\n    \"phone\": string,\n    \"account_no\": string,\n    \"order_no\": string,\n    \"preferred_date\": string,// \"2025-12-10\" or free text if unstructured\n    \"preferred_time\": string,// \"14:00\", \"2 pm\", etc.\n    \"duration_min\": number,  // integer minutes or 0\n    \"notes\": string          // agenda or extra info\n  },\n  \"confidence\": number       // 0..1 (>=0.6 when reasonably sure)\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1136,
        992
      ],
      "id": "743dc4a2-1903-4014-b6fe-85fbf998540e",
      "name": "Intent Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1168,
        -64
      ],
      "id": "52a63914-19bb-47ba-89c7-d96f9c9b96ce",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_url }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "be271a68-b18d-4ed8-acc8-243745e30998",
      "name": "Download file2",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        64,
        224
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W43GDm2segtxgxAV",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('On GET request1').item.json.body.message }}",
        "options": {
          "systemMessage": "You are a polite, professional, and helpful AI agent for Linde Gas industrial gases assistant.\n\nYour job is to handle *greetings, small talk, and generic user interactions* — such as:\n\"Hi\", \"Hello\", \"Good morning\", \"Who are you?\", \"How are you?\", \"Thanks\", \"Nice to meet you\", etc.\n\nYou should:\n- Always greet the user warmly.\n- Mention your name (Linde Gas AI Agent) briefly.\n- Offer what you can help with — e.g., technical datasheets, quotations, appointments, or delivery updates.\n- Keep replies short, friendly, and contextual.\n\n❌ Avoid:\n- Any long or generic chatbot answers.\n- Making up technical data or product details (those are handled by other agents).\n\n✅ Example responses:\n- \"Hello! 👋 I'm the Linde Gas AI Agent. I can help you with product datasheets, quotations, appointments, or delivery updates. What would you like to do today?\"\n- \"Hi there! I'm here to assist you with any gas-related queries or documentation.\"\n- \"Good morning! How can I help you today — would you like a datasheet or delivery update?\"\n\nYour output **must be strict JSON**, in this format:\n\n{\n  \"response_message\": \"<your polite greeting or intro>\",\n  \"sources\": [{\n    \"doc_id\": \"\",\n    \"title\": \"\",\n    \"file_url\": \"\"\n  }]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        368,
        3232
      ],
      "id": "c30c6469-18b5-4a9c-bf70-1983c21c1998",
      "name": "Greeting Agent"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        384,
        3440
      ],
      "id": "6ae3050b-f722-45f0-9d01-72364fe8a645",
      "name": "Azure OpenAI Chat Model3",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify(\n    (() => {\n      // 1) Greeting Agent ka raw output uthao\n      //    (Tools Agent aksar { output: \"...\" } deta hai)\n      const g = $('Greeting Agent').first().json || {};\n      const raw = g.output ?? g.text ?? g.message ?? g; // string ya object\n\n // Check if Intent Agent se type mil sakta hai\n      const intentData = $('Intent Agent').first().json || {};\n      const intentType = intentData.type || 'greeting';\n\n      // 2) Agar JSON string/object me hi contract mil gaya ho to sanitize karke return\n      try {\n        const maybe =\n          typeof raw === 'string' ? JSON.parse(raw) :\n          (typeof raw === 'object' ? raw : null);\n\n        if (maybe && (maybe.response_message || maybe.sources)) {\n          const src = Array.isArray(maybe.sources) ? maybe.sources : [];\n          return {\n            response_message: String(maybe.response_message || ''),\n            sources: src.map(s => ({\n              doc_id: s?.doc_id || '',\n              title:  s?.title  || '',\n              file_url: s?.file_url || '',\n               type: intentType\n            }))\n          };\n        }\n      } catch (_) { /* ignore parse errors; fallback below */ }\n\n      // 3) Fallback: plain greeting text -> same contract, empty sources\n      return {\n        response_message: String(\n          typeof raw === 'string' && raw ? raw : 'Hello! 👋'\n        ),\n        sources: []\n      };\n    })()\n  )\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        720,
        3232
      ],
      "id": "e1a69b98-c8cc-47c9-bbfb-3d3b85b1c9a1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        352,
        1648
      ],
      "id": "d0ce595d-550c-4faa-a8e9-c239fb83b531",
      "name": "Azure OpenAI Chat Model4",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$('Switch').item.json[\"intent\"]}}",
        "options": {
          "systemMessage": "You are a polite, precise Quotation Agent for industrial gases (Linde Gas).\n\nPURPOSE\n- Handle quotation requests from existing or new customers.\n- Use retrieved documents (price lists, discount tiers, account pricing, freight zones, lead times, taxes).\n- If an “account_no” is provided, honor account agreements; otherwise use public price lists.\n\nINPUT SIGNALS (may come from upstream intent/entity extractor):\n- gas, grade/purity, quantity, uom, location/zone, account_no, email, phone, preferred_date/time, notes.\n\nPOLICY\n- Compute unit price = base list price (+ grade add-on) – eligible discounts (volume tier + loyalty + account-specific), applying caps if policy states.\n- Add packaging, rental (if cylinder), freight by nearest zone, and mention surcharges/taxes as applicable.\n- Quote validity 30 days unless doc states otherwise.\n- Provide realistic lead time per product/package from the docs.\n- If data is missing, ask ONE crisp follow-up within the answer (“Please confirm quantity and delivery location to finalize.”) but still give an indicative price/lead time range.\n\nTONE & FORMAT\n- Keep the main answer under ~10 lines: a short paragraph + bulleted key figures.\n- No JSON. No markdown headings. Plain text with simple bullets is okay.\n- Always cite the basis in natural language (e.g., “based on Cylinder Price List 2025Q4 and Freight Zone B”).\n\nSAFETY\n- If request is outside supported gases or unusually hazardous, respond with a safe refusal and ask to connect to sales.\n\nOUTPUT (TEXT ONLY; the workflow will wrap it into JSON):\n- A clear mini-quote mentioning: product/grade, unit price, any discount, freight/zone, lead time, validity, and next step.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        352,
        1424
      ],
      "id": "72830903-ef8d-4139-9829-c088f1c3f4fe",
      "name": "Quotation Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify(\n    (() => {\n      // LLM answer (Quotation Agent)\n      const answer = $('Generate response1').first().json.text\n        || $('Generate response1').first().json.output\n        || 'Here is your quotation.';\n\n      // First matched RAG doc's metadata (for source chip)\n      const meta = $('Get top chunks matching query1')\n        .first()\n        .json?.document?.metadata ?? {};\n\n      const fileName = meta.file_name || '';\n      const parts = fileName.replace(/\\.pdf$/i, '').split('_');\n      const docId = parts.slice(-2).join('_'); // e.g., \"Price_List\";\n\n // Check if Intent Agent se type mil sakta hai\n      const intentData = $('Intent Agent').first().json || {};\n      const intentType = $('downstream node').first().json?.intent || 'quotation';\n\n      \n      // Do not return a source chip if LLM said it couldn't find the data\n      const NOT_FOUND_PHRASES = [\"couldn't find\",\"could not find\",\"not found\",\"no information\",\"i don't have\",\"unable to find\",\"not present in\",\"not available in\",\"doesn't contain\",\"does not contain\",\"cannot find\",\"not in the provided\",\"not mentioned\",\"not specified\"];\n      const lowerAns = answer.toLowerCase();\n      const dataNotFound = NOT_FOUND_PHRASES.some(p => lowerAns.includes(p));\n\n      return {\n        response_message: answer,\n        sources: dataNotFound ? [] : [{\n          doc_id: docId || meta.doc_id || '',\n          title: fileName || meta.title || '',\n          file_url: meta.file_url || meta.webContentLink || meta.webViewLink || '',\n          type: intentType\n        }],\n        meta: {\n          confidence: $('downstream node').first().json?.confidence ?? null\n        }\n      };\n    })()\n  )\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2528,
        1424
      ],
      "id": "ae663f60-6717-4cc6-ae7d-d7da4b2a2d93",
      "name": "Respond to Webhook Quotation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33f4addf-72f3-4618-a6ba-5b762257d723",
              "name": "chunks",
              "type": "number",
              "value": 4
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a3a43e13-16ad-42e4-9445-f0ffbf0df2bb",
      "name": "Set max chunks to send to model1",
      "type": "n8n-nodes-base.set",
      "position": [
        960,
        1424
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "quotation-linde-large-3072",
          "mode": "list",
          "cachedResultName": "quotation-linde-large-3072"
        },
        "prompt": "={{ $('On GET request1').item.json.body.message }}",
        "topK": "={{ $json.chunks }}",
        "options": {}
      },
      "id": "16a6aa04-125c-4d1e-8092-d85c4790ea57",
      "name": "Get top chunks matching query1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1168,
        1424
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "hgnuyHwY6hQPWfli",
          "name": "PineconeApi account Multiple files upload"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let out = \"\"\nfor (const i in $input.all()) {\n  let itemText = \"--- CHUNK \" + i + \" ---\\n\"\n  itemText += $input.all()[i].json.document.pageContent + \"\\n\"\n  itemText += \"\\n\"\n  out += itemText\n}\n\nreturn {\n  'context': out\n};"
      },
      "id": "bc3229da-aa77-4c7a-a237-e09fd94ced63",
      "name": "Prepare chunks1",
      "type": "n8n-nodes-base.code",
      "position": [
        1552,
        1424
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "text": "={{ $json.context }}\n\nQuestion: {{ $('On GET request1').first().json.body.message }}\nHelpful Answer:",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"answer\", \"citations\"],\n  \"properties\": {\n    \"answer\": {\n      \"type\": \"string\"\n    },\n    \"citations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"number\"\n      }\n    }\n  }\n}",
        "options": {
          "systemPromptTemplate": "=You are a polite, precise Quotation Agent for industrial gases (Linde Gas).\n\nPURPOSE\n- Handle quotation requests from existing or new customers.\n- Use retrieved documents (price lists, discount tiers, account pricing, freight zones, lead times, taxes).\n- If an “account_no” is provided, honor account agreements; otherwise use public price lists.\n\nINPUT SIGNALS (may come from upstream intent/entity extractor):\n- gas, grade/purity, quantity, uom, location/zone, account_no, email, phone, preferred_date/time, notes.\n\nPOLICY\n- Compute unit price = base list price (+ grade add-on) – eligible discounts (volume tier + loyalty + account-specific), applying caps if policy states.\n- Add packaging, rental (if cylinder), freight by nearest zone, and mention surcharges/taxes as applicable.\n- Quote validity 30 days unless doc states otherwise.\n- Provide realistic lead time per product/package from the docs.\n- If data is missing, ask ONE crisp follow-up within the answer (“Please confirm quantity and delivery location to finalize.”) but still give an indicative price/lead time range.\n\nTONE & FORMAT\n- Keep the main answer under ~10 lines: a short paragraph + bulleted key figures.\n- No JSON. No markdown headings. Plain text with simple bullets is okay.\n- Always cite the basis in natural language (e.g., “based on Cylinder Price List 2025Q4 and Freight Zone B”).\n\nSAFETY\n- If request is outside supported gases or unusually hazardous, respond with a safe refusal and ask to connect to sales.\n\nOUTPUT (TEXT ONLY; the workflow will wrap it into JSON):\n- A clear mini-quote mentioning: product/grade, unit price, any discount, freight/zone, lead time, validity, and delivery location.\n"
        }
      },
      "id": "82226719-88a1-42cf-aa9f-08918b4ef033",
      "name": "Answer the query based on chunks1",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        1744,
        1424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ace6185e-8b3d-4f89-ae36-dfe0c391a0a9",
              "name": "answer",
              "type": "string",
              "value": "={{ $json.output.answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "329815d4-f3e1-4e96-9a32-8ea71530cc86",
      "name": "Compose citations1",
      "type": "n8n-nodes-base.set",
      "position": [
        2112,
        1424
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11396286-0378-4c3a-86e1-c9ef51afbfc7",
              "name": "text",
              "type": "string",
              "value": "={{ $json.answer }} {{ $if(!$json.citations.isEmpty(), \"\\n\" + $json.citations.join(\"\"), '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ebf1b271-8cf4-4a85-919b-13b4b7ae395b",
      "name": "Generate response1",
      "type": "n8n-nodes-base.set",
      "position": [
        2304,
        1424
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1168,
        1648
      ],
      "id": "a61fcbc4-99c5-4519-b532-ef6b487db454",
      "name": "Embeddings Azure OpenAI2",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1744,
        1648
      ],
      "id": "5444f94e-9426-4414-8c12-142ed88ffd81",
      "name": "Azure OpenAI Chat Model5",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1. Quotation data Setup: Fetch file from Google Drive, split it into chunks and insert into a vector database\nNote that running this part multiple times will insert multiple copies into your DB",
        "height": 728.4168721167887,
        "width": 1086.039382705461,
        "color": 7
      },
      "id": "8f4cbe41-5306-45cf-8e0b-bcf0769a4e8c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        -256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Will fetch the Linde Product Data Sheets",
        "height": 257.75985739596473,
        "width": 179.58883583572606,
        "color": 7
      },
      "id": "7af1efff-5e96-4f59-aa59-e73a1e799647",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "quotation-linde-large-3072",
          "mode": "list",
          "cachedResultName": "quotation-linde-large-3072"
        },
        "options": {}
      },
      "id": "8c871ae6-eeec-4ae4-b82c-ba6ba62b714d",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        2192,
        -80
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "hgnuyHwY6hQPWfli",
          "name": "PineconeApi account Multiple files upload"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc7a70e3-9b04-404b-8892-ba0fcc4274c2",
              "name": "file_url",
              "type": "string",
              "value": "https://drive.google.com/file/d/1IWt77GqB9YgOP_Cg1hRiXLlrlzRs-ytG/view?usp=drive_link"
            }
          ]
        },
        "options": {}
      },
      "id": "8e1511b5-bce0-4663-9ac9-2e9d95aac7a9",
      "name": "Set file URL in Google Drive1",
      "type": "n8n-nodes-base.set",
      "position": [
        1552,
        -80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_url",
                "value": "={{ $json.file_url }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Download file3').first().binary.data.fileName }}"
              }
            ]
          }
        }
      },
      "id": "c6065642-6c3a-4d73-8d73-3598dafb4f91",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2288,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "bad59bb0-9fe9-4344-b767-3971b2b44b5e",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        2368,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        2160,
        144
      ],
      "id": "ab1332f8-a1c8-4fa0-a559-2bea5e0bf585",
      "name": "Embeddings Azure OpenAI3",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_url }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "65b67f1d-e143-4284-8f85-49e488429dc3",
      "name": "Download file3",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1872,
        -80
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W43GDm2segtxgxAV",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('On GET request1').item.json.body.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a calendar assistant. Create/update/delete events in Google Calendar.\n\nTOOLS\n- Use \"Create Event with Attendee\" only if you have ≥1 valid attendee emails.\n- Use \"Create Event\" when there are NO attendees.\n- Prefer creating a Google Meet link.\n- If duration is not specified, assume 60 minutes.\n- Dates like \"10 December 2025 2 pm\" must be normalized to ISO strings.\n\nCRITICAL OUTPUT CONTRACT\nReturn STRICT JSON only, no prose, with this shape for the next node:\n\n{\n  \"action\": \"create_event\" | \"create_event_with_attendee\" | \"get_events\" | \"update_event\" | \"delete_event\",\n  \"summary\": string,               // e.g., \"Appointment\"\n  \"start\": string,                 // ISO like \"2025-12-10T10:00:00\"\n  \"end\": string,                   // ISO like \"2025-12-10T11:00:00\"\n  \"attendees\": string[],           // list of valid emails; if none => []\n  \"notes\": string\n}\n\nRULES\n- Never include empty strings in \"attendees\"; filter them out. If none, use [].\n- If only date/time is provided, compute start/end (default 60 min).\n- If no date or time is specified, use the next day at 10:00 AM CET for 1 hour duration.\n- Always calculate the next day based on current date and set time to 10:00 AM CET.\n- For missing time, default to 10:00 AM CET.\n- For missing date, default to next day at 10:00 AM CET.\n- Meet link should be requested by setting conference on the calendar node (downstream).\n- When no specific date/time is mentioned in user request, automatically schedule for tomorrow 10:00 AM CET."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        352,
        2032
      ],
      "id": "ba93cb14-4492-42cb-8e3e-be8bfdfe096e",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Participants Email').item.json.email }}",
        "subject": "Linde Gas Connect with Clients",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        2032
      ],
      "id": "b99ce9f2-8056-4942-8bab-7baf68347d47",
      "name": "Send Confirmation Email",
      "webhookId": "26c93eda-2b74-4640-befb-730cfb0dca5e",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "EKPzxPTrRoLGYUYU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        352,
        2288
      ],
      "id": "8e875ea4-f18c-4ef1-abfa-1ce7c804088c",
      "name": "Azure OpenAI Chat Model6",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.email || $json.email }}",
        "subject": "Linde PDF Document",
        "message": "=Your Download is Ready({{ $json.body.filename || $json.filename }}). \n\nplease download document from here -> \n{{ $json.body.file_url || $json.file_url }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -816,
        144
      ],
      "id": "dcee98e5-98b8-4a1c-9326-4559c105d1d3",
      "name": "Send Document in Gmail",
      "webhookId": "a9c12f3d-51de-4e36-a1c5-4f5bf8fdb918",
      "credentials": {
        "gmailOAuth2": {
          "id": "EKPzxPTrRoLGYUYU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\nJSON.stringify(\n  (() => {\n    const ev = $('Google Calendar').first().json || {};\n\n // Check if Intent Agent se type mil sakta hai\n      const intentData = $('Intent Agent').first().json || {};\n      const intentType = $('downstream node').first().json?.intent || 'appointment';\n\n    const meet =\n      ev.conferenceData?.entryPoints?.find(p => p.entryPointType === 'video')?.uri\n      || ev.hangoutLink\n      || ev.htmlLink\n      || '';\n    const start = ev.start?.dateTime || ev.start?.date || '';\n    const end   = ev.end?.dateTime   || ev.end?.date   || '';\n    const msg = `Your meeting is booked on ${start} → ${end}.${meet ? ` Meet link: ${meet}` : ''}`;\n\n    return {\n      response_message: msg,\n      sources: [{\n        doc_id: '',\n        title: 'Join Google Meet',\n        file_url: meet,\n         type: intentType\n      }]\n    };\n  })()\n)\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1584,
        2032
      ],
      "id": "5f5a9ffa-7473-4518-a6b4-476977a4cdbb",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fzBymGE1OozTAxpor_KeAo8COsFZ1lEHDo3C69rOnCk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 811368105,
          "mode": "list",
          "cachedResultName": "Participants",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fzBymGE1OozTAxpor_KeAo8COsFZ1lEHDo3C69rOnCk/edit#gid=811368105"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        688,
        2032
      ],
      "id": "e06879f5-f856-4fdf-9c44-f4f7ce5c1fa1",
      "name": "Participants Email",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Su8v9Q233m6xH1Nv",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "helpdeskcustomer02careplus@gmail.com",
          "mode": "list",
          "cachedResultName": "helpdeskcustomer02careplus@gmail.com"
        },
        "start": "={{\n(() => {\n  const raw = $('Calendar Agent').first().json?.output || '';\n  let data = {};\n  try { \n    data = typeof raw === 'string' ? JSON.parse(raw) : raw; \n  } catch {}\n  \n  const s = data.start || data.start_time || data.startISO || data.preferred_date || '';\n  const t = data.preferred_time || '';\n  \n  let d;\n  if (s && t && !s.includes('T')) {\n    d = new Date(`${s}T${t}:00`);\n  } else if (s) {\n    d = new Date(s);\n  } else {\n    d = new Date();\n  }\n  \n  // ISO 8601 format with timezone\n  return d.toISOString();\n})()\n}}",
        "end": "={{\n(() => {\n  const raw = $('Calendar Agent').first().json?.output || '';\n  let data = {};\n  try { \n    data = typeof raw === 'string' ? JSON.parse(raw) : raw; \n  } catch {}\n  \n  const s = data.start || data.start_time || data.startISO || data.preferred_date || '';\n  const t = data.preferred_time || '';\n  const e = data.end || data.end_time || data.endISO || '';\n  const durMin = Number.isFinite(+data.duration_min) ? +data.duration_min : 60;\n  \n  let start;\n  if (s && t && !s.includes('T')) {\n    start = new Date(`${s}T${t}:00`);\n  } else if (s) {\n    start = new Date(s);\n  } else {\n    start = new Date();\n  }\n  \n  let end = e ? new Date(e) : new Date(start.getTime() + durMin * 60000);\n  \n  // ISO 8601 format with timezone\n  return end.toISOString();\n})()\n}}",
        "additionalFields": {
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "summary": "={{ $(\"Calendar Agent\").first().json?.output && (JSON.parse($(\"Calendar Agent\").first().json.output).summary || 'Linde Gas Meeting') }}\n"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        880,
        2032
      ],
      "id": "3c8daf93-9ac7-4edf-9804-7dd6aad21a9b",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "u0Ssyw9Dl3DwA82F",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Read event from Google Calendar node ---\nconst ev = ($('Google Calendar')?.first()?.json) || {};\n\n// --- Prefer Meet link from conferenceData.entryPoints (video) ---\nconst meetFromEntry =\n  ev?.conferenceData?.entryPoints?.find(e => e?.entryPointType === 'video')?.uri || '';\nconst hangoutLink = ev?.hangoutLink || '';\nconst htmlLink = ev?.htmlLink || '';\n\nconst meet = meetFromEntry || hangoutLink || htmlLink || '';\n\n// --- Title ---\nconst title = ev?.summary || 'Linde Gas Connect with clients';\n\n// --- Start / End / Timezone ---\n// const tz  = ev?.start?.timeZone || Intl.DateTimeFormat().resolvedOptions().timeZone || 'Europe/Berlin';\nconst tz = 'Europe/Berlin';\nconst sISO = ev?.start?.dateTime || ev?.start?.date || '';\nconst eISO = ev?.end?.dateTime   || ev?.end?.date   || '';\n\n// Helpers\nconst safeDate = (iso) => iso ? new Date(iso) : null;\n\nconst formatDate = (iso, zone) => {\n  if (!iso) return 'Meeting date';\n  try {\n    return new Intl.DateTimeFormat('en-GB', {\n      dateStyle: 'full',\n      timeZone: zone\n    }).format(safeDate(iso));\n  } catch { return iso; }\n};\n\nconst formatTime = (iso, zone, withZone = false) => {\n  if (!iso) return '';\n  try {\n    return new Intl.DateTimeFormat('en-GB', {\n      timeStyle: 'short',\n      timeZone: zone,\n      ...(withZone ? { timeZoneName: 'short' } : {})\n    }).format(safeDate(iso));\n  } catch { return iso; }\n};\n\n// --- Compose date + time range ---\nconst meetingDate = formatDate(sISO, tz);\n\n// “10:00 – 14:00 (EST)” style\nconst startTime = formatTime(sISO, tz, false);\nconst endTime   = formatTime(eISO, tz, false);\nconst tzShort   = formatTime(sISO, tz, true).split(' ').slice(-1)[0] || tz; // pick \"EST\"/\"CET\" if present\n\nlet meetingTime = 'Time not set';\nif (startTime && endTime) meetingTime = `${startTime} – ${endTime} (${tzShort})`;\nelse if (startTime)       meetingTime = `${startTime} (${tzShort})`;\n\n// --- Button text ---\nconst isGoogleMeet = !!meet && meet.includes('meet.google.com');\nconst buttonText = isGoogleMeet ? 'Join Google Meet' : 'View Calendar Event';\n\n// --- HTML ---\nconst html = `<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n      .container { font-family: Arial, sans-serif; padding: 20px; background:#f8f8f8; border-radius:10px; max-width:600px; margin:auto; }\n      .header { font-size:20px; font-weight:700; margin-bottom:10px; }\n      .details { margin: 12px 0; }\n      .meet-button { display:inline-block; padding:12px 20px; background:#006FBF; color:#fff; text-decoration:none; border-radius:8px; font-size:16px; font-weight:700; }\n      .meet-button:hover { filter:brightness(1.05); }\n      a { color:#006FBF; }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <div class=\"header\">📅 You are invited to a meeting</div>\n      <div class=\"details\"><p><strong>Title:</strong> ${title}</p></div>\n      <div class=\"details\"><p><strong>Date:</strong> ${meetingDate}</p></div>\n      <div class=\"details\"><p><strong>Time:</strong> ${meetingTime}</p></div>\n\n      <div class=\"details\">\n        <p><strong>${isGoogleMeet ? 'Join using Google Meet:' : 'View Event:'}</strong></p>\n        <a class=\"meet-button\" href=\"${meet}\" target=\"_blank\" rel=\"noopener\" style=\"color: #ffffff !important;\">${buttonText}</a>\n        ${meet ? `<div style=\"margin-top:8px;font-size:12px;color:#666;\">If the button doesn’t work, open: <a href=\"${meet}\" target=\"_blank\" rel=\"noopener\" >${meet}</a></div>` : ''}\n      </div>\n\n      <div style=\"margin-top:18px; font-size:12px; color:#666;\">\n        This invite was sent by the Linde Gas AI-Powered Scheduling Assistant.\n      </div>\n    </div>\n  </body>\n</html>`;\n\nreturn { html };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        2032
      ],
      "id": "f1393ee2-3f98-4cfb-9413-686f8b415a06",
      "name": "Code1"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        320,
        2800
      ],
      "id": "d096c573-adfd-4f06-9cfe-a35b4dd253b9",
      "name": "Azure OpenAI Chat Model7",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('On GET request1').item.json.body.message }}",
        "options": {
          "systemMessage": "=You are a DELIVERY STATUS agent for an industrial gases assistant (Linde Gas).\nYour ONLY data source is a Google Sheet tool with one row per order.\n\nSheet columns (exact):\norder_id, product_name, product_code, grade_purity, quantity, unit, order_date_utc, promised_ship_date_utc, eta_utc, current_status, status_detail, po_number, customer_name, ship_to_city, country, carrier, tracking_no, ship_ready_utc, expected_arrival_utc, delivered_utc, received_by\n\nWhat to do\n\nDetect the user’s intent to check delivery/shipment/status/ETA/tracking.\n\nExtract an order number (e.g., LG-240001). If multiple are present, use the first.\n\nQuery the Google Sheet for an exact match on order_id. If not found, try a case-insensitive match; otherwise return a helpful “not found” message.\n\nDo not use any other tools or sources.\n\nIf not found - Return a helpful message and an empty sources array."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        320,
        2544
      ],
      "id": "49e80363-bdb0-4bb6-8cfb-0c06dc6ee3d5",
      "name": "Delivery Status Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GZK92mdF6vDivSMQW0xB4XYZKQlDW7Cdz5TGprYvSG0",
          "mode": "list",
          "cachedResultName": "Delivery_Status_File",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GZK92mdF6vDivSMQW0xB4XYZKQlDW7Cdz5TGprYvSG0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DeliveryStatus_Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GZK92mdF6vDivSMQW0xB4XYZKQlDW7Cdz5TGprYvSG0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        480,
        2768
      ],
      "id": "764a4762-9a8f-4ae7-8b28-a4d302011e20",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Su8v9Q233m6xH1Nv",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify(\n    (() => {\n      const g = $('Delivery Status Agent').first().json || {};\n      const raw = g.output ?? g.text ?? g.message ?? g;\n      \n      const intentType = $('downstream node').first().json?.intent || 'delivery_update';\n      const confidence = $('downstream node').first().json?.confidence ?? null;\n\n      // Phrases that indicate the agent is asking for clarification (no data yet)\n      const CLARIFICATION_PHRASES = ['please provide', 'could you please', 'could you provide', 'please share', 'please let me know', 'kindly provide', 'what is your order', 'can you provide', 'can you share'];\n      \n      const responseText = String(typeof raw === 'string' && raw ? raw : 'No delivery status available');\n      const lowerText = responseText.toLowerCase();\n      const isClarification = CLARIFICATION_PHRASES.some(p => lowerText.includes(p));\n      \n      try {\n        const maybe = typeof raw === 'string' ? JSON.parse(raw) : raw;\n        \n        if (maybe && (maybe.response_message || maybe.sources)) {\n          const msg = String(maybe.response_message || '');\n          const msgLower = msg.toLowerCase();\n          const isMsgClarification = CLARIFICATION_PHRASES.some(p => msgLower.includes(p));\n          const src = Array.isArray(maybe.sources) ? maybe.sources : [];\n          return {\n            response_message: msg,\n            sources: isMsgClarification ? [] : src.map(s => ({\n              doc_id: s?.doc_id || '',\n              title: s?.title || '',\n              file_url: s?.file_url || '',\n              type: s?.type || intentType\n            })),\n            meta: { confidence }\n          };\n        }\n      } catch (_) { /* ignore parse errors */ }\n      \n      return {\n        response_message: responseText,\n        sources: isClarification ? [] : [\n          {\n            doc_id: 'delivery_doc_001',\n            title: 'Delivery Status Document',\n            file_url: '',\n            type: intentType\n          }\n        ],\n        meta: { confidence }\n      };\n    })()\n  )\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        704,
        2544
      ],
      "id": "682e0ee9-4a8c-4437-943f-4d4808d425a5",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        368,
        3920
      ],
      "id": "c7e6b15e-4cc2-4452-9e81-9d8647d61fae",
      "name": "Azure OpenAI Chat Model8",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify(\n    (() => {\n      // 1) Greeting Agent ka raw output uthao\n      //    (Tools Agent aksar { output: \"...\" } deta hai)\n      const g = $('General Agent').first().json || {};\n      const raw = g.output ?? g.text ?? g.message ?? g; // string ya object\n\n // Check if Intent Agent se type mil sakta hai\n      const intentData = $('Intent Agent').first().json || {};\n      const intentType = intentData.type || 'greeting';\n\n      // 2) Agar JSON string/object me hi contract mil gaya ho to sanitize karke return\n      try {\n        const maybe =\n          typeof raw === 'string' ? JSON.parse(raw) :\n          (typeof raw === 'object' ? raw : null);\n\n        if (maybe && (maybe.response_message || maybe.sources)) {\n          const src = Array.isArray(maybe.sources) ? maybe.sources : [];\n          return {\n            response_message: String(maybe.response_message || ''),\n            sources: src.map(s => ({\n              doc_id: s?.doc_id || '',\n              title:  s?.title  || '',\n              file_url: s?.file_url || '',\n               type: intentType\n            }))\n          };\n        }\n      } catch (_) { /* ignore parse errors; fallback below */ }\n\n      // 3) Fallback: plain greeting text -> same contract, empty sources\n      return {\n        response_message: String(\n          typeof raw === 'string' && raw ? raw : 'Hello! 👋'\n        ),\n        sources: []\n      };\n    })()\n  )\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        704,
        3712
      ],
      "id": "f697e3bd-9c4e-4540-bf1e-02079bd5977c",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('On GET request1').item.json.body.message }}",
        "options": {
          "systemMessage": "You are Linde Gas Assistant, designed to help users with internal Linde-related information and services.\nYour primary responsibilities include:\n\nProviding details about TDS (Technical Data Sheets)\n\nSupporting quotation-related queries\n\nHelping users schedule a call with a Linde sales representative\n\nChecking delivery status\n\nAnswering questions about Linde Gas, our products, processes, and services\n\nIf a user asks about your role or who you are, politely explain that you are an assistant created to support Linde employees/customers with information and internal processes.\n\nIf the user asks something not related to Linde Gas, or a question outside your supported domain, respond with:\n\n“Sorry, I think I might not be able to answer this query. My role is to assist only with Linde Gas internal information like TDS, quotations, sales support, and delivery status checks.”\n\nBe interactive, concise, and professional.\nYour goal is to guide the user toward what you can help with rather than what you cannot.\nWhen appropriate, offer actionable next steps (e.g., “Would you like me to fetch the TDS?” or “Should I check the delivery status for you?”).\n\nDo not guess or provide any information unrelated to Linde Gas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        352,
        3712
      ],
      "id": "d15b45f6-53d5-4fed-bbd2-85db3c2255de",
      "name": "General Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('On GET request1').item.json.body.message }}",
        "options": {
          "systemMessage": "You are an AVAILABILITY agent for Linde Gas industrial products.\nYour ONLY data source is the Availability Master Google Sheet tool provided.\n\nSheet columns (exact):\nproduct_code, product_name, grade_purity, location_dc, stock_status, available_qty, lead_time_days, next_restock_date, notes\n\nWhat to do:\n1. Extract the gas/product name, purity (if mentioned), and location (if mentioned) from the user message.\n2. Read the Availability Master sheet.\n3. Filter rows matching the product (case-insensitive). Also filter by purity and location if provided.\n4. If a match is found, respond with:\n   - stock_status\n   - available_qty\n   - lead_time_days\n   - next_restock_date (if set)\n   - notes (if any)\n5. If no match → respond clearly that the product is not found in the availability data. Do NOT hallucinate.\n6. If multiple matches (e.g. multiple locations), list all of them.\n\nFormat: plain text summary (the workflow wraps it into JSON).\n\nDo NOT use any other tool or knowledge source."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        320,
        4100
      ],
      "id": "avail001-aaaa-bbbb-cccc-000000000001",
      "name": "Availability Agent",
      "credentials": {}
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        320,
        4320
      ],
      "id": "avail001-aaaa-bbbb-cccc-000000000002",
      "name": "Azure OpenAI Chat Model Availability",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_AVAILABILITY_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Availability_Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_AVAILABILITY_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        480,
        4370
      ],
      "id": "avail001-aaaa-bbbb-cccc-000000000003",
      "name": "Availability Master Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Su8v9Q233m6xH1Nv",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify(\n    (() => {\n      const g = $('Availability Agent').first().json || {};\n      const raw = g.output ?? g.text ?? g.message ?? g;\n      const intentType = $('downstream node').first().json?.intent || 'availability';\n\n      try {\n        const maybe = typeof raw === 'string' ? JSON.parse(raw) : raw;\n        if (maybe && (maybe.response_message || maybe.sources)) {\n          const src = Array.isArray(maybe.sources) ? maybe.sources : [];\n          return {\n            response_message: String(maybe.response_message || ''),\n            sources: src.length > 0 ? src.map(s => ({\n              doc_id: s?.doc_id || 'availability_sheet',\n              title: s?.title || 'Availability Master',\n              file_url: s?.file_url || '',\n              type: intentType\n            })) : [{ doc_id: 'availability_sheet', title: 'Availability Master', file_url: '', type: intentType }]\n          };\n        }\n      } catch (_) { /* fallback below */ }\n\n      return {\n        response_message: String(typeof raw === 'string' && raw ? raw : 'No availability data found.'),\n        sources: [{ doc_id: 'availability_sheet', title: 'Availability Master', file_url: '', type: intentType }]\n      };\n    })()\n  )\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        704,
        4100
      ],
      "id": "avail001-aaaa-bbbb-cccc-000000000004",
      "name": "Respond to Webhook Availability"
    }
  ],
  "connections": {
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Set file URL in Google Drive": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Set max chunks to send to model": {
      "main": [
        [
          {
            "node": "Get top chunks matching query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get top chunks matching query": {
      "main": [
        [
          {
            "node": "Prepare chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare chunks": {
      "main": [
        [
          {
            "node": "Answer the query based on chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer the query based on chunks": {
      "main": [
        [
          {
            "node": "Compose citations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose citations": {
      "main": [
        [
          {
            "node": "Generate response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate response": {
      "main": [
        [
          {
            "node": "Respond with attachment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Get top chunks matching query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer the query based on chunks",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On GET request1": {
      "main": [
        [
          {
            "node": "Intent Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document API": {
      "main": [
        [
          {
            "node": "Google Drive For Stored PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive For Stored PDF": {
      "main": [
        [
          {
            "node": "Respond with attachment PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Document in Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Product Data Sheet": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "downstream node": {
      "main": [
        [
          {
            "node": "Confidence Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Gate": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set max chunks to send to model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quotation Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delivery Status Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Availability Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Agent": {
      "main": [
        [
          {
            "node": "downstream node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set file URL in Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Greeting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Quotation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Quotation Agent": {
      "main": [
        [
          {
            "node": "Set max chunks to send to model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set max chunks to send to model1": {
      "main": [
        [
          {
            "node": "Get top chunks matching query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get top chunks matching query1": {
      "main": [
        [
          {
            "node": "Prepare chunks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare chunks1": {
      "main": [
        [
          {
            "node": "Answer the query based on chunks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer the query based on chunks1": {
      "main": [
        [
          {
            "node": "Compose citations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose citations1": {
      "main": [
        [
          {
            "node": "Generate response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate response1": {
      "main": [
        [
          {
            "node": "Respond to Webhook Quotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Get top chunks matching query1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Answer the query based on chunks1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set file URL in Google Drive1": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Participants Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Participants Email": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Delivery Status Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Status Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Delivery Status Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "General Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "General Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Availability Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model Availability": {
      "ai_languageModel": [
        [
          {
            "node": "Availability Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Availability Master Sheet": {
      "ai_tool": [
        [
          {
            "node": "Availability Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "362d0ae9bb7b73cd3dfea8a295e99696cbc5d8b53ef5b687c5671bee8a1b31fb"
  }
}