Linde N8n Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## 1. Setup: Fetch file from Google Drive, split it into chunks and insert into a vector database\nNote that running this part multiple times will insert multiple copies into your DB",
        "height": 728.4168721167887,
        "width": 1086.039382705461,
        "color": 7
      },
      "id": "b9867d30-3c39-4713-96c5-a126dbe3bf87",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        -352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Chat with file, getting citations in reponse",
        "height": 465,
        "width": 1690,
        "color": 7
      },
      "id": "e78a1559-f866-4d7a-b1c3-b669631c5006",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        1440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Will fetch the Linde Product Data Sheets",
        "height": 257.75985739596473,
        "width": 179.58883583572606,
        "color": 7
      },
      "id": "c0f4790e-f9a7-41b1-b8a5-2cdc809349bf",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        -256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinecode-vector-db-embedding-large-3072",
          "mode": "list",
          "cachedResultName": "pinecode-vector-db-embedding-large-3072"
        },
        "options": {}
      },
      "id": "b8060d73-d705-47d2-b2f6-482c38d18169",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -544,
        -176
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "hgnuyHwY6hQPWfli",
          "name": "PineconeApi account Multiple files upload"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc7a70e3-9b04-404b-8892-ba0fcc4274c2",
              "name": "file_url",
              "type": "string",
              "value": "https://drive.google.com/file/d/1dSHgmP01_Khm7JIdtgRV4RRX-ZPlCz9z/view?usp=drive_link"
            }
          ]
        },
        "options": {}
      },
      "id": "045e6ed5-25cd-4d06-93ab-ecf5ce4f5550",
      "name": "Set file URL in Google Drive",
      "type": "n8n-nodes-base.set",
      "position": [
        -1216,
        160
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json['id']}}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "6245694a-e52b-4fd6-9cf9-02c223707de6",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -752,
        -176
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W43GDm2segtxgxAV",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_url",
                "value": "={{ $json.file_url }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Download file2').first().binary.data.fileName }}"
              }
            ]
          }
        }
      },
      "id": "c01ed9e1-3ba4-4c17-bdf4-2c3cc296b1e3",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -448,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "fb0754ec-20b1-475e-b527-1a4fe70338af",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33f4addf-72f3-4618-a6ba-5b762257d723",
              "name": "chunks",
              "type": "number",
              "value": 4
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "09c6ed38-54a0-4a73-a619-4108cec3d868",
      "name": "Set max chunks to send to model",
      "type": "n8n-nodes-base.set",
      "position": [
        -640,
        1568
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinecode-vector-db-embedding-large-3072",
          "mode": "list",
          "cachedResultName": "pinecode-vector-db-embedding-large-3072"
        },
        "prompt": "={{ $('On GET request1').item.json.body.message }}",
        "topK": "={{ $json.chunks }}",
        "options": {}
      },
      "id": "b071655f-504f-40f4-9aef-ef8611ac9f52",
      "name": "Get top chunks matching query",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -416,
        1568
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "hgnuyHwY6hQPWfli",
          "name": "PineconeApi account Multiple files upload"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let out = \"\"\nfor (const i in $input.all()) {\n  let itemText = \"--- CHUNK \" + i + \" ---\\n\"\n  itemText += $input.all()[i].json.document.pageContent + \"\\n\"\n  itemText += \"\\n\"\n  out += itemText\n}\n\nreturn {\n  'context': out\n};"
      },
      "id": "76b082f1-eba9-4c88-8be1-3d175a276ea0",
      "name": "Prepare chunks",
      "type": "n8n-nodes-base.code",
      "position": [
        -112,
        1568
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "text": "={{ $json.context }}\n\nQuestion: {{ $('On GET request1').first().json.body.message }}\nHelpful Answer:",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"answer\", \"citations\"],\n  \"properties\": {\n    \"answer\": {\n      \"type\": \"string\"\n    },\n    \"citations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"number\"\n      }\n    }\n  }\n}",
        "options": {
          "systemPromptTemplate": "=Role & Purpose\nYou are the Linde Gas AI Assistant. Your primary function is to help users find, understand, and extract information strictly from the provided Product Data Sheets (PDS) and Safety Data Sheets (SDS). Treat the provided passages as your entire knowledge base. Never use outside knowledge.\n\nCore Behavior & Tone\n\nPrimary Tone: Helpful, professional, and conversational. Be a friendly and knowledgeable expert.\n\nInteraction Style: Respond in an interactive and natural way. Mirror the user's language (English or neutral Hinglish) while maintaining technical clarity.\n\nGrounding Rule: Answer only from the provided context. Do not guess, hallucinate, or use pre-trained knowledge. Preserve all data (numbers, units, names) exactly as written.\n\nInteraction Guidelines\n1. Greeting & Initial Interaction\nWhen a conversation starts, greet the user in a warm, interactive way to build a natural rapport. Your opening should be brief and set clear expectations.\n\nExample Greeting:\n\"Hello! I'm your Linde Gas Assistant, here to help you get instant answers from our Product and Safety Data Sheets. Just let me know what you're looking for – like a product name, UN number, or a specific property – and I'll find the verified details for you.\"\n\n2. Responding to \"Can you help me?\" or Similar Queries\nIf a user asks about your capabilities, respond interactively to explain what you can do, encouraging them to proceed.\n\nExample Response:\n\"Absolutely, I'm here to help! I can search through Linde's Data Sheets to provide you with precise information on things like safety hazards, transport details, physical properties, and more. What specific product or information do you need help with today?\"\n\n3. Providing Data & Answering Specific Queries\nFor all factual queries, provide the answer in a clear, humanly interactive way. Start with a direct, conversational answer before listing the precise data.\n\nStructure your answers as:\n\nAcknowledge & Conclude: Start with a brief, conversational sentence that answers the question.\n\nPresent Data: Follow with the key data in crisp bullets or a short table.\n\nEmphasize Safety: If the data includes critical warnings, surface them clearly.\n\nCite Source: Always end with the source.\n\nExample for a specific query (UN Number):\n\nUser: \"What's the UN number for Oxygen?\"\n\nYour Response:\n\"Of course. For Oxygen, compressed, the UN number is 1072.\"\n\nUN Number: 1072\n\nProper Shipping Name: Oxygen, compressed\nSource: Product_Data_Sheet_O2_10021701EN.pdf\n\n4. Handling Missing Information or Refusals\nIf the requested information is not in the provided context, be transparent and helpful.\n\nExample Response:\n\"I've looked through the data sheets, but I couldn't find the specific details you're asking for. To help me search again, could you provide the product name, grade, or point me to a specific section (e.g., 'Transport Section')?\"\n\n5. Final Guardrails\n\nDo NOT state or imply anything not present in the provided passages.\n\nDo NOT provide medical advice or emergency procedures beyond what is written. Politely decline and redirect to the PDS/SDS content.\n\nDo NOT merge data from different products unless the document explicitly does so.\n\nAlways cite your source at the end of every answer: Source: <filename>"
        }
      },
      "id": "3b15e8a2-6860-4c08-b44a-e310b6a473e0",
      "name": "Answer the query based on chunks",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        112,
        1568
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ace6185e-8b3d-4f89-ae36-dfe0c391a0a9",
              "name": "answer",
              "type": "string",
              "value": "={{ $json.output.answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0be16db7-1b25-440e-9d52-ab15b93367cb",
      "name": "Compose citations",
      "type": "n8n-nodes-base.set",
      "position": [
        496,
        1568
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11396286-0378-4c3a-86e1-c9ef51afbfc7",
              "name": "text",
              "type": "string",
              "value": "={{ $json.answer }} {{ $if(!$json.citations.isEmpty(), \"\\n\" + $json.citations.join(\"\"), '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3d12210-ff8b-4860-bdd8-0eeef3338eb9",
      "name": "Generate response",
      "type": "n8n-nodes-base.set",
      "position": [
        704,
        1568
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -560,
        80
      ],
      "id": "863f8473-36ca-485d-9a42-fc78bf28bde4",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -400,
        1744
      ],
      "id": "45e349d8-f50e-4ef9-9872-930f07e7f0d8",
      "name": "Embeddings Azure OpenAI1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        128,
        1744
      ],
      "id": "11739a14-c918-46d8-9ddf-46c473f6e68d",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-with-linde-ai-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0babb96f-fc9a-42bd-af04-2fede403fea8",
      "name": "On GET request1",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -2896,
        1488
      ],
      "webhookId": "454eb4ea-e460-4196-b31c-284abf234fc3",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify(\n    (() => {\n      // 1) Answer text from your LLM step\n      const answer = $('Generate response').first().json.text;\n\n      const intentType = $('downstream node').first().json?.intent || 'datasheet';\n\n      // 2) Take the *first* matched chunk (it already has the correct metadata)\n      const meta = $('Get top chunks matching query')\n        .first()\n        .json?.document?.metadata ?? {};\n\n      // 3) Build doc_id and fallback-safe fields\n      const fileName = meta.file_name || '';\n      const docId = fileName.replace(/\\.(pdf|txt|docx?)$/i, '') || meta.doc_id || '';\n\n      // Resolve download URL — try every metadata field Google Drive may store\n      const fileUrl =\n        meta.file_url ||\n        meta.source?.file_url ||\n        meta.webContentLink ||\n        meta.webViewLink ||\n        (meta.file_id ? `https://drive.google.com/uc?id=${meta.file_id}&export=download` : '') ||\n        (meta.id      ? `https://drive.google.com/uc?id=${meta.id}&export=download`      : '') ||\n        '';\n\n      // Do not return a source chip if LLM said it couldn't find the data\n      const NOT_FOUND_PHRASES = [\"couldn't find\",\"could not find\",\"not found\",\"no information\",\"i don't have\",\"unable to find\",\"not present in\",\"not available in\",\"doesn't contain\",\"does not contain\",\"cannot find\",\"not in the provided\",\"not mentioned\",\"not specified\"];\n      const lowerAns = answer.toLowerCase();\n      const dataNotFound = NOT_FOUND_PHRASES.some(p => lowerAns.includes(p));\n\n      return {\n        response_message: answer,\n        sources: dataNotFound ? [] : [{\n          doc_id: docId,\n          title: fileName || meta.title || docId,\n          file_url: fileUrl,\n          type: intentType\n        }],\n        meta: {\n          confidence: $('downstream node').first().json?.confidence ?? null\n        }\n      };\n    })()\n  )\n}}\n",
        "options": {
          "responseCode": 200
        }
      },
      "id": "9c5b0563-ac28-4713-a230-151f4a7a6529",
      "name": "Respond with attachment1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        960,
        1568
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "download-linde-pdf-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "08804152-1c5b-45f9-b1ee-d222991e3068",
      "name": "Download Document API",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -2448,
        -176
      ],
      "webhookId": "454eb4ea-e460-4196-b31c-284abf234fc3",
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.body.file_url || $json.file_url }}",
          "mode": "url"
        },
        "options": {}
      },
      "name": "Google Drive For Stored PDF",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -2208,
        -176
      ],
      "typeVersion": 1,
      "id": "e74537d9-0c25-4c53-903c-40fc1457a683",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W43GDm2segtxgxAV",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/pdf"
              },
              {
                "name": "Content-Disposition",
                "value": "={{ 'attachment; filename=\"' + ($json.body.filename || $json.filename || 'document') + '\"' }}"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Expose-Headers",
                "value": "Content-Disposition"
              }
            ]
          }
        }
      },
      "id": "def69282-d147-45a0-8ac0-cbeff8ceb8f2",
      "name": "Respond with attachment PDF",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -1888,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Upload Product Data Sheet",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Product_Data_Sheet_PDF",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1408,
        -176
      ],
      "id": "9efb372b-bc8b-4952-b29a-d008be50eb72",
      "name": "Upload Product Data Sheet",
      "webhookId": "44364e76-8140-4c53-b4d8-04ede91fd93c",
      "disabled": true
    },
    {
      "parameters": {
        "inputDataFieldName": "file",
        "name": "={{$binary.file.fileName}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Dz2rwk6DDMtB7y8uQJHjqNGnGdDyQbXT",
          "mode": "list",
          "cachedResultName": "Linde Data Sheets",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Dz2rwk6DDMtB7y8uQJHjqNGnGdDyQbXT"
        },
        "options": {}
      },
      "id": "c5cc3c05-74db-40ca-a4e3-7ceb001432b9",
      "name": "Upload File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -944,
        -176
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W43GDm2segtxgxAV",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -2768,
        1696
      ],
      "id": "b5a91fed-9e03-4f04-b412-0e6c27146e5c",
      "name": "Azure OpenAI Chat Model2",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ---- Safe read helpers ----\nfunction safeParse(v) {\n  if (!v) return null;\n  if (typeof v === 'object') return v;\n  if (typeof v === 'string') {\n    let s = v.trim();\n    // strip code fences like ```json ... ```\n    s = s.replace(/^```(?:json)?/i, '').replace(/```$/i, '').trim();\n    try { return JSON.parse(s); } catch { return null; }\n  }\n  return null;\n}\nconst userMsg =\n  $json.message ||\n  $json.body?.message ||\n  $json.query?.message ||\n  '';\n\n// AI Agent may return JSON string in output/result or an object at top-level\nconst raw =\n  safeParse($json.output) ||\n  safeParse($json.result) ||\n  ($json.intent ? $json : {}) ||\n  {};\n\nconst e = raw.entities || {};\nconst norm = (v) => (v == null ? '' : (typeof v === 'string' ? v.trim() : v));\n\n// Gas normalization (aliases)\nconst gasAlias = {\n  o2: 'Oxygen', oxygen: 'Oxygen',\n  n2: 'Nitrogen', nitrogen: 'Nitrogen',\n  h2: 'Hydrogen', hydrogen: 'Hydrogen',\n  co2: 'Carbon Dioxide', 'carbon dioxide': 'Carbon Dioxide',\n  ar: 'Argon', argon: 'Argon',\n  he: 'Helium', helium: 'Helium',\n  ch4: 'Methane', methane: 'Methane'\n};\nconst gasRaw = norm(e.gas);\nconst gasNorm = gasAlias[String(gasRaw).toLowerCase()] || gasRaw;\n\n// Intent with fallbacks\nlet intent = String(raw.intent || '').toLowerCase() || 'unknown';\n\n// If classifier was unsure, fix common cases via heuristics\nif (intent === 'unknown') {\n  const t = String(userMsg).toLowerCase().trim();\n\n  // Greeting / small talk\n  if (/^(hi|hello|hey|yo|hii+|good (morning|afternoon|evening)|how (are|r) (you|u)|who (are|r) you|thanks?|ok(ay)?)\\b/.test(t)) {\n    intent = 'greeting';\n  }\n  // Clear datasheet keywords\n  else if (/(msds|sds|tds|data ?sheet|spec(ification)? ?sheet|product ?sheet|safety ?sheet)/i.test(userMsg)) {\n    intent = 'datasheet';\n  }\n}\n\nconst duration = Number.isFinite(+e.duration_min) ? +e.duration_min : 0;\n\n// Multi-intent support: extract intents[] array, fallback to [intent]\nlet intents = [];\nif (Array.isArray(raw.intents) && raw.intents.length > 0) {\n  intents = raw.intents.map(i => String(i).toLowerCase().trim()).filter(Boolean);\n  if (intent !== 'unknown' && !intents.includes(intent)) intents.unshift(intent);\n} else if (intent !== 'unknown') {\n  intents = [intent];\n}\nconst isMultiIntent = intents.length > 1;\n\nreturn {\n  intent,\n  intents,\n  isMultiIntent,\n  confidence: Number(raw.confidence ?? 0),\n  entities: {\n    gas: gasNorm,\n    sheet_id: norm(e.sheet_id),\n    purity: norm(e.purity),\n    quantity: norm(e.quantity),\n    location: norm(e.location),\n    email: norm(e.email),\n    phone: norm(e.phone),\n    account_no: norm(e.account_no),\n    order_no: norm(e.order_no),\n    preferred_date: norm(e.preferred_date),\n    preferred_time: norm(e.preferred_time),\n    duration_min: duration,\n    notes: norm(e.notes)\n  },\n  // convenience for downstream nodes\n  message: userMsg\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        1488
      ],
      "id": "ed02b981-f8c5-4c5d-971a-b53e7494ab70",
      "name": "downstream node"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "datasheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c0606e10-05c5-42b5-90b0-349a3a9037cb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d4916df-0070-43f7-ac4c-546d041f41b9",
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "quotation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Quotation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c819e6ad-318d-44a0-b006-bdc0bf6b41d7",
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "appointment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abf4547a-4b6a-4ed9-91a0-be3c4824c841",
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "delivery_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Delivery"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd745a8f-6bb2-4e86-83d3-8839a470d5be",
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "greeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "greeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36d42c4e-b64d-4921-a6c2-360afc97b128",
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "smalltalk",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "smalltalk"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "leftValue": "={{$json[\"intent\"]}}",
                    "rightValue": "availability",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "availability"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1216,
        1584
      ],
      "id": "9ff02665-240c-40ff-861d-af3bd9d7974a",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "conf001-cond-confidence-threshold",
              "leftValue": "={{$json.confidence}}",
              "rightValue": 0.6,
              "operator": {
                "type": "number",
                "operation": "gte",
                "name": "filter.operator.gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6c3b1af9-d3e4-464a-8b68-3450e0d7c19c",
      "name": "Confidence Gate",
      "type": "n8n-nodes-base.if",
      "position": [
        -2208,
        1488
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify({\n    response_message: \"I'm not sure I understood your request. Could you please clarify? I can help with product datasheets, quotations, delivery status, product availability, or scheduling a meeting.\",\n    sources: []\n  })\n}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "6899d953-b174-4a50-95fe-ec843499f4c1",
      "name": "Respond Clarification",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -1616,
        1840
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are an INTENT ROUTER for an industrial gases assistant (Linde Gas).\nALWAYS return STRICT JSON that matches the schema below. No prose.\n\nIntents and when to use them:\n\n- datasheet:  \n  User asks for a product/technical data sheet OR info about a gas (e.g., H2, N2, O2, CO2, Argon…), purity, composition, hazards, handling, storage, MSDS/TDS, “send/download sheet”, etc.  \n  Map “msds”, “tds”, “spec sheet”, “product sheet”, “safety sheet”, “data sheet” ⇒ datasheet.  \n  Detect gas names/symbols: hydrogen/H2, nitrogen/N2, oxygen/O2, argon/Ar, CO2, helium/He, etc.\n\n- quotation:  \n  User asks for a price/quote for a gas/cylinder/mixture, or to place an order.  \n  Extract quantity, purity, location, email/phone if present.\n\n- appointment:  \n  User wants to schedule or send an invite for a meeting, call, demo, training, or site visit.  \n  Trigger this intent if the message includes any phrase about **scheduling, booking, arranging, fixing, or inviting** for a meeting/call/demo/visit.  \n  Common trigger patterns include:  \n  “schedule a meeting”, “set up a call”, “book an appointment”, “fix a demo”, “arrange a site visit”, “send an invite”, “send meeting invite”, “add to calendar”, “block my calendar”, “organize a meeting”, “invite for discussion”, etc.  \n  Hinglish equivalents: “meeting schedule karo”, “call fix kar do”, “appointment book karo”, “invite bhej do”, “calendar me daal do”, “site visit plan karo”, “demo schedule karo”, “meeting ka invite bhejo”.  \n  Always prefer `appointment` when user asks to **create**, **schedule**, or **send an invite** (not when asking to cancel or move).  \n\n  Extract entities if present:  \n  - `preferred_date`: any date text (e.g. “10 Dec 2025”, “tomorrow”, “next Monday”).  \n  - `preferred_time`: any time text (e.g. “2 pm”, “14:00”, “morning”, “after lunch”).  \n  - `duration_min`: numeric duration in minutes (parse phrases like “30 mins”, “1 hour” → 60).  \n  - `email`: attendee email(s) if user provides any.  \n  - `location`: meeting venue or platform (“Google Meet”, “Zoom”, “Teams”, “on site”).  \n  - `notes`: any agenda or contextual message (e.g. “discussion about CO2 supply”).  \n  If nothing found, leave fields empty.\n\n- delivery_update:  \n  User asks delivery/shipment/status/ETA/tracking for an existing order.  \n  Extract order_no or account_no if present.\n\n- greeting:  \n  Simple greetings or pleasantries (e.g., “hi”, “hello”, “hey”, “good morning/afternoon/evening”, “how are you”, “who are you”).  \n  If message only greets → choose `greeting` (NOT unknown).\n\n- smalltalk:  \n  Casual talk not task-related (e.g., “what’s up”, “thank you”, “ok”, emoji-only responses).\n\nExtraction rules:\n- Be conservative: if it’s *only* a greeting → `greeting`.  \n- Numbers like \"99.999%\", \"5.0\" or \"UHP\" ⇒ purity.  \n- **MULTI-INTENT DETECTION**: If the user CLEARLY asks for TWO or more distinct things in a single message, populate `intents` with ALL detected intents (max 3). Example: \"Provide the data sheet for O2 and also a quotation\" → intents: [\"datasheet\",\"quotation\"]. The `intent` field must still contain the PRIMARY intent for backward compatibility.  \n- If only ONE intent is requested → `intents` contains just that one intent.  \n- For appointment intent, detect variants of \"schedule\", \"meeting\", \"invite\", \"call\", \"demo\", \"visit\", \"training\".  \n- Multi-intent combos to detect: datasheet+quotation, datasheet+availability, quotation+availability, datasheet+delivery_update.\n\nOutput JSON schema (MUST MATCH KEYS exactly):\n\n{\n  \"intent\": \"datasheet\" | \"quotation\" | \"appointment\" | \"delivery_update\" | \"greeting\" | \"smalltalk\" | \"availability\",\n  \"intents\": [\"datasheet\", \"quotation\"],  // ALL detected intents — array of 1-3 strings\n  \"entities\": {\n    \"gas\": string,           // e.g. \"N2\", \"Oxygen\", empty \"\" if not found\n    \"sheet_id\": string,      // e.g. \"Sheet_N2\" or file name if obvious\n    \"purity\": string,        // e.g. \"99.999%\", \"5.0\", \"UHP\"\n    \"quantity\": string,      // e.g. \"2 cylinders\", \"50 m3/month\"\n    \"location\": string,      // e.g. \"Berlin\", \"Google Meet\", or \"\"\n    \"email\": string,         // e.g. \"abc@domain.com\"\n    \"phone\": string,\n    \"account_no\": string,\n    \"order_no\": string,\n    \"preferred_date\": string,// \"2025-12-10\" or free text if unstructured\n    \"preferred_time\": string,// \"14:00\", \"2 pm\", etc.\n    \"duration_min\": number,  // integer minutes or 0\n    \"notes\": string          // agenda or extra info\n  },\n  \"confidence\": number       // 0..1 (>=0.6 when reasonably sure)\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2704,
        1488
      ],
      "id": "3ce3d2f9-deb5-4dec-8d5c-7aaf7c0e7fd0",
      "name": "Intent Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        176
      ],
      "id": "4b7b0d74-0d21-42c1-9ce2-6d3927167188",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_url }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "14e09e4e-b7ce-4153-935c-2fd2907beffe",
      "name": "Download file2",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -1008,
        160
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W43GDm2segtxgxAV",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('On GET request1').item.json.body.message }}",
        "options": {
          "systemMessage": "You are a warm, professional, and conversational AI assistant for Linde Gas.\nYour name is \"Linde Gas AI Assistant\".\n\nYour role is to handle ALL greetings, small talk, and casual interactions naturally — \nlike a real human customer service representative would.\n\n## CORE BEHAVIOR RULES:\n\n### 1. MIRROR THE USER'S TONE\n- If they say \"Hi\" → respond with a casual, brief \"Hi back\"\n- If they say \"How are you?\" → actually answer it warmly (\"I'm doing great, thanks for asking! 😊\")\n- If they say \"Good morning\" → wish them good morning back\n- If they say \"Thanks\" → say \"You're welcome!\" naturally\n- If they say \"Nice to meet you\" → say \"Nice to meet you too!\"\n- NEVER ignore what the user actually said and jump straight to your capabilities\n\n### 2. NATURAL CONVERSATION FLOW\n- First, respond directly to what they said (mirror their greeting/question)\n- Then, OPTIONALLY and briefly, offer help — but only if it feels natural\n- Keep it short: 1-2 sentences max\n- Use light emojis where appropriate (👋 😊 ✅) but don't overdo it\n\n### 3. WHAT YOU CAN HELP WITH (mention naturally, not robotically)\n- Product datasheets & technical specs\n- Delivery tracking & status updates  \n- Price quotations\n- Scheduling meetings or sales calls\n\n### 4. WHAT TO AVOID\n❌ Never start with \"I'm here to assist with gas-related queries\" as a response to \"How are you?\"\n❌ Never give long capability lists unprompted\n❌ Never sound like a generic chatbot\n❌ Never make up technical data\n\n## RESPONSE EXAMPLES:\n\nUser: \"Hi\" \n→ \"Hi there! 👋 How can I help you today?\"\n\nUser: \"Hello, how are you doing today?\"\n→ \"I'm doing great, thanks for asking! 😊 Hope you're having a good day too. What can I help you with?\"\n\nUser: \"Good morning!\"\n→ \"Good morning! ☀️ Ready to help — need a datasheet, delivery update, or something else?\"\n\nUser: \"Thanks!\"\n→ \"You're welcome! Let me know if there's anything else I can help with. 😊\"\n\nUser: \"Who are you?\"\n→ \"I'm the Linde Gas AI Assistant! I can help you with product specs, delivery tracking, quotations, or scheduling a call with our team. What would you like to do?\"\n\nUser: \"Nice to meet you\"\n→ \"Nice to meet you too! 😊 Feel free to ask me anything about our products or services.\"\n\nUser: \"Bye\" / \"See you\"\n→ \"Take care! 👋 Don't hesitate to reach out anytime.\"\n\n## OUTPUT FORMAT:\nYour output must be strict JSON:\n{\n  \"response_message\": \"<your natural, contextual reply>\",\n  \"sources\": [{\n    \"doc_id\": \"\",\n    \"title\": \"\",\n    \"file_url\": \"\"\n  }]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -720,
        3824
      ],
      "id": "de7664e9-06a1-47fc-9e3d-4b212bf6d5d5",
      "name": "Greeting Agent"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -704,
        4032
      ],
      "id": "21d1efd5-dd6e-4150-9a06-15567d4145b6",
      "name": "Azure OpenAI Chat Model3",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify(\n    (() => {\n      // 1) Greeting Agent ka raw output uthao\n      //    (Tools Agent aksar { output: \"...\" } deta hai)\n      const g = $('Greeting Agent').first().json || {};\n      const raw = g.output ?? g.text ?? g.message ?? g; // string ya object\n\n // Check if Intent Agent se type mil sakta hai\n      const intentData = $('Intent Agent').first().json || {};\n      const intentType = intentData.type || 'greeting';\n\n      // 2) Agar JSON string/object me hi contract mil gaya ho to sanitize karke return\n      try {\n        const maybe =\n          typeof raw === 'string' ? JSON.parse(raw) :\n          (typeof raw === 'object' ? raw : null);\n\n        if (maybe && (maybe.response_message || maybe.sources)) {\n          const src = Array.isArray(maybe.sources) ? maybe.sources : [];\n          return {\n            response_message: String(maybe.response_message || ''),\n            sources: src.map(s => ({\n              doc_id: s?.doc_id || '',\n              title:  s?.title  || '',\n              file_url: s?.file_url || '',\n               type: intentType\n            }))\n          };\n        }\n      } catch (_) { /* ignore parse errors; fallback below */ }\n\n      // 3) Fallback: plain greeting text -> same contract, empty sources\n      return {\n        response_message: String(\n          typeof raw === 'string' && raw ? raw : 'Hello! 👋'\n        ),\n        sources: []\n      };\n    })()\n  )\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -368,
        3824
      ],
      "id": "d840589b-0099-471a-9e05-adbbfe47bf65",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -544,
        2256
      ],
      "id": "1ed51057-b3cc-4eac-86d7-9c1610128400",
      "name": "Azure OpenAI Chat Model4",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$('Switch').item.json[\"intent\"]}}",
        "options": {
          "systemMessage": "You are a polite, precise Quotation Agent for industrial gases (Linde Gas).\n\nPURPOSE\n- Handle quotation requests from existing or new customers.\n- Use retrieved documents (price lists, discount tiers, account pricing, freight zones, lead times, taxes).\n- If an “account_no” is provided, honor account agreements; otherwise use public price lists.\n\nINPUT SIGNALS (may come from upstream intent/entity extractor):\n- gas, grade/purity, quantity, uom, location/zone, account_no, email, phone, preferred_date/time, notes.\n\nPOLICY\n- Compute unit price = base list price (+ grade add-on) – eligible discounts (volume tier + loyalty + account-specific), applying caps if policy states.\n- Add packaging, rental (if cylinder), freight by nearest zone, and mention surcharges/taxes as applicable.\n- Quote validity 30 days unless doc states otherwise.\n- Provide realistic lead time per product/package from the docs.\n- If data is missing, ask ONE crisp follow-up within the answer (“Please confirm quantity and delivery location to finalize.”) but still give an indicative price/lead time range.\n\nTONE & FORMAT\n- Keep the main answer under ~10 lines: a short paragraph + bulleted key figures.\n- No JSON. No markdown headings. Plain text with simple bullets is okay.\n- Always cite the basis in natural language (e.g., “based on Cylinder Price List 2025Q4 and Freight Zone B”).\n\nSAFETY\n- If request is outside supported gases or unusually hazardous, respond with a safe refusal and ask to connect to sales.\n\nOUTPUT (TEXT ONLY; the workflow will wrap it into JSON):\n- A clear mini-quote mentioning: product/grade, unit price, any discount, freight/zone, lead time, validity, and next step.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -464,
        2016
      ],
      "id": "7e43f376-09a1-4502-bdd6-bcb70f4f904c",
      "name": "Quotation Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify(\n    (() => {\n      // LLM answer (Quotation Agent)\n      const answer = $('Generate response1').first().json.text\n        || $('Generate response1').first().json.output\n        || 'Here is your quotation.';\n\n      // First matched RAG doc's metadata (for source chip)\n      const meta = $('Get top chunks matching query1')\n        .first()\n        .json?.document?.metadata ?? {};\n\n      const fileName = meta.file_name || '';\n      const parts = fileName.replace(/\\.pdf$/i, '').split('_');\n      const docId = fileName.replace(/\\.(pdf|txt|docx?)$/i, '') || parts.slice(-2).join('_') || meta.doc_id || '';\n\n      // Resolve download URL — try every metadata field Google Drive may store\n      const fileUrl =\n        meta.file_url ||\n        meta.webContentLink ||\n        meta.webViewLink ||\n        (meta.file_id ? `https://drive.google.com/uc?id=${meta.file_id}&export=download` : '') ||\n        (meta.id      ? `https://drive.google.com/uc?id=${meta.id}&export=download`      : '') ||\n        '';\n\n      const intentType = $('downstream node').first().json?.intent || 'quotation';\n\n      // Do not return a source chip if LLM said it couldn't find the data\n      const NOT_FOUND_PHRASES = [\"couldn't find\",\"could not find\",\"not found\",\"no information\",\"i don't have\",\"unable to find\",\"not present in\",\"not available in\",\"doesn't contain\",\"does not contain\",\"cannot find\",\"not in the provided\",\"not mentioned\",\"not specified\"];\n      const lowerAns = answer.toLowerCase();\n      const dataNotFound = NOT_FOUND_PHRASES.some(p => lowerAns.includes(p));\n\n      return {\n        response_message: answer,\n        sources: dataNotFound ? [] : [{\n          doc_id: docId,\n          title: fileName || meta.title || docId,\n          file_url: fileUrl,\n          type: intentType\n        }],\n        meta: {\n          confidence: $('downstream node').first().json?.confidence ?? null\n        }\n      };\n    })()\n  )\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1456,
        2016
      ],
      "id": "3596f8ba-4cbd-483b-b98d-7e7e09a9210f",
      "name": "Respond to Webhook Quotation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33f4addf-72f3-4618-a6ba-5b762257d723",
              "name": "chunks",
              "type": "number",
              "value": 4
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "af535bd8-7544-425f-a47d-ba82c0df8c21",
      "name": "Set max chunks to send to model1",
      "type": "n8n-nodes-base.set",
      "position": [
        -128,
        2016
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "quotation-linde-large-3072",
          "mode": "list",
          "cachedResultName": "quotation-linde-large-3072"
        },
        "prompt": "={{ $('On GET request1').item.json.body.message }}",
        "topK": "={{ $json.chunks }}",
        "options": {}
      },
      "id": "dc4a07d8-a78f-4ff1-9b3a-374d55c38dee",
      "name": "Get top chunks matching query1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        80,
        2016
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "hgnuyHwY6hQPWfli",
          "name": "PineconeApi account Multiple files upload"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let out = \"\"\nfor (const i in $input.all()) {\n  let itemText = \"--- CHUNK \" + i + \" ---\\n\"\n  itemText += $input.all()[i].json.document.pageContent + \"\\n\"\n  itemText += \"\\n\"\n  out += itemText\n}\n\nreturn {\n  'context': out\n};"
      },
      "id": "5c381fcd-8c20-495b-bfb0-ee26fa5df5c2",
      "name": "Prepare chunks1",
      "type": "n8n-nodes-base.code",
      "position": [
        464,
        2016
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "text": "={{ $json.context }}\n\nQuestion: {{ $('On GET request1').first().json.body.message }}\nHelpful Answer:",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"answer\", \"citations\"],\n  \"properties\": {\n    \"answer\": {\n      \"type\": \"string\"\n    },\n    \"citations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"number\"\n      }\n    }\n  }\n}",
        "options": {
          "systemPromptTemplate": "=You are a polite, precise Quotation Agent for industrial gases (Linde Gas).\n\nPURPOSE\n- Handle quotation requests from existing or new customers.\n- Use retrieved documents (price lists, discount tiers, account pricing, freight zones, lead times, taxes).\n- If an “account_no” is provided, honor account agreements; otherwise use public price lists.\n\nINPUT SIGNALS (may come from upstream intent/entity extractor):\n- gas, grade/purity, quantity, uom, location/zone, account_no, email, phone, preferred_date/time, notes.\n\nPOLICY\n- Compute unit price = base list price (+ grade add-on) – eligible discounts (volume tier + loyalty + account-specific), applying caps if policy states.\n- Add packaging, rental (if cylinder), freight by nearest zone, and mention surcharges/taxes as applicable.\n- Quote validity 30 days unless doc states otherwise.\n- Provide realistic lead time per product/package from the docs.\n- If data is missing, ask ONE crisp follow-up within the answer (“Please confirm quantity and delivery location to finalize.”) but still give an indicative price/lead time range.\n\nTONE & FORMAT\n- Keep the main answer under ~10 lines: a short paragraph + bulleted key figures.\n- No JSON. No markdown headings. Plain text with simple bullets is okay.\n- Always cite the basis in natural language (e.g., “based on Cylinder Price List 2025Q4 and Freight Zone B”).\n\nSAFETY\n- If request is outside supported gases or unusually hazardous, respond with a safe refusal and ask to connect to sales.\n\nOUTPUT (TEXT ONLY; the workflow will wrap it into JSON):\n- A clear mini-quote mentioning: product/grade, unit price, any discount, freight/zone, lead time, validity, and delivery location.\n"
        }
      },
      "id": "2874a4b8-69c4-4302-aee4-572eb27a494d",
      "name": "Answer the query based on chunks1",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        656,
        2016
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ace6185e-8b3d-4f89-ae36-dfe0c391a0a9",
              "name": "answer",
              "type": "string",
              "value": "={{ $json.output.answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "52c9672b-b8fa-43a6-a3be-fd375168b8b1",
      "name": "Compose citations1",
      "type": "n8n-nodes-base.set",
      "position": [
        1024,
        2016
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11396286-0378-4c3a-86e1-c9ef51afbfc7",
              "name": "text",
              "type": "string",
              "value": "={{ $json.answer }} {{ $if(!$json.citations.isEmpty(), \"\\n\" + $json.citations.join(\"\"), '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d8475304-ed7a-4208-9b41-060b5b08ad20",
      "name": "Generate response1",
      "type": "n8n-nodes-base.set",
      "position": [
        1216,
        2016
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        80,
        2240
      ],
      "id": "fc816dc9-9126-4c24-9fcf-620b2be9f951",
      "name": "Embeddings Azure OpenAI2",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        656,
        2240
      ],
      "id": "61760569-5fea-434c-9dfd-96b7ee569b5c",
      "name": "Azure OpenAI Chat Model5",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1. Quotation data Setup: Fetch file from Google Drive, split it into chunks and insert into a vector database\nNote that running this part multiple times will insert multiple copies into your DB",
        "height": 728.4168721167887,
        "width": 1086.039382705461,
        "color": 7
      },
      "id": "8c01c0d1-f562-410a-b4df-398435ee47bf",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Will fetch the Linde Product Data Sheets",
        "height": 257.75985739596473,
        "width": 179.58883583572606,
        "color": 7
      },
      "id": "c8331e6b-2651-4d5b-8b5c-2dbe1797e3e8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "quotation-linde-large-3072",
          "mode": "list",
          "cachedResultName": "quotation-linde-large-3072"
        },
        "options": {}
      },
      "id": "57afa727-6cae-4789-8069-374a402c6564",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1120,
        -192
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "hgnuyHwY6hQPWfli",
          "name": "PineconeApi account Multiple files upload"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc7a70e3-9b04-404b-8892-ba0fcc4274c2",
              "name": "file_url",
              "type": "string",
              "value": "https://drive.google.com/file/d/1IWt77GqB9YgOP_Cg1hRiXLlrlzRs-ytG/view?usp=drive_link"
            }
          ]
        },
        "options": {}
      },
      "id": "7e44106e-3d6a-466e-aab3-290d37d425d2",
      "name": "Set file URL in Google Drive1",
      "type": "n8n-nodes-base.set",
      "position": [
        480,
        -192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_url",
                "value": "={{ $json.file_url }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Download file3').first().binary.data.fileName }}"
              }
            ]
          }
        }
      },
      "id": "f020fc02-b35b-49fd-9bb3-0499f18fcc15",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1216,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "207ab2ba-31b0-47bd-a9ac-c46ef28275ec",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1312,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1088,
        80
      ],
      "id": "a83300de-efbb-4b6a-8aab-109d30cbe3f6",
      "name": "Embeddings Azure OpenAI3",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_url }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "27b0ba63-714d-4f05-853a-08457b62c8d1",
      "name": "Download file3",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        800,
        -192
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W43GDm2segtxgxAV",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('On GET request1').item.json.body.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a calendar assistant. Create/update/delete events in Google Calendar.\n\nSLOT-FILLING (do this FIRST, before calling any tool):\nCheck what required fields the user has explicitly provided in their message:\n  - email     : a valid attendee email address   (REQUIRED to send invite)\n  - date      : a specific meeting date           (REQUIRED)\n  - time      : a specific meeting time           (REQUIRED)\n  - subject   : meeting topic or agenda           (optional)\n  - duration  : duration in minutes               (optional, default 60)\n  - platform  : preferred platform                (optional, default Google Meet)\n\nRULE: Do NOT auto-fill missing date / time / email with defaults or \"next day 10 AM\".\n\nIf ANY of the REQUIRED fields (email, date, time) are missing:\n  Return this STRICT JSON immediately — do NOT call any calendar tool:\n  {\n    \"status\": \"needs_info\",\n    \"missing_fields\": [\"email\", \"date\", \"time\"],\n    \"clarification_message\": \"To schedule your call with a Linde sales representative, I need a few more details. Could you please provide: [list each missing field on a new line with a dash and a human-readable explanation, e.g. '- Your email address (so we can send you a calendar invite)']\",\n    \"prefill\": {\n      \"subject\": \"<inferred from message or empty string>\",\n      \"duration_min\": 60\n    }\n  }\n  List ONLY the truly missing fields in \"missing_fields\".\n\nIf ALL required fields are present:\n  Return this STRICT JSON (confirmed booking — proceed to call calendar tools):\n  {\n    \"status\": \"confirmed\",\n    \"action\": \"create_event_with_attendee\",\n    \"summary\": \"<subject or 'Linde Gas Consultation'>\",\n    \"start\": \"<ISO 8601 datetime>\",\n    \"end\": \"<ISO 8601 datetime>\",\n    \"attendees\": [\"<email>\"],\n    \"notes\": \"<any notes from the user>\"\n  }\n\nTOOLS\n- Use \"Create Event with Attendee\" only when status === \"confirmed\" AND attendees list is non-empty.\n- Use \"Create Event\" when status === \"confirmed\" AND no attendees provided.\n- Prefer creating a Google Meet link (set conference on the calendar node).\n- Dates like \"10 March 2026 2 pm\" must be normalized to ISO strings (Europe/Berlin timezone).\n\nRULES\n- NEVER call any calendar tool when status === \"needs_info\".\n- Never include empty strings in \"attendees\"; if none, use [].\n- For confirmed events: if time is provided but no explicit timezone, default to Europe/Berlin.\n- Meet link should be requested by setting conference on the calendar node (downstream).\n\nCRITICAL OUTPUT CONTRACT\nReturn STRICT JSON only — no prose, no markdown, no explanation outside the JSON object."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -736,
        2624
      ],
      "id": "1b8a4d15-bdec-45d7-8098-7e62c024f3fb",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ (() => { const raw = $('Calendar Agent').first().json?.output || '{}'; let d = {}; try { d = typeof raw === 'string' ? JSON.parse(raw) : raw; } catch(e) {} const att = d.attendees; return (Array.isArray(att) && att.length > 0) ? att[0] : (d.email || ''); })() }}",
        "subject": "={{ $('Google Calendar').first().json.summary || 'Linde Gas Connect with Clients' }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Linde's AI Assistant"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        528,
        2608
      ],
      "id": "8ef34fdf-3eb1-4574-921c-844d9697b042",
      "name": "Send Confirmation Email",
      "webhookId": "26c93eda-2b74-4640-befb-730cfb0dca5e",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "EKPzxPTrRoLGYUYU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -736,
        2880
      ],
      "id": "816fefc3-84a7-4a54-a85b-aee4e8b84a9b",
      "name": "Azure OpenAI Chat Model6",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.email || $json.email }}",
        "subject": "Linde PDF Document",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0;padding:0;background-color:#E8EAED;font-family:'Segoe UI',Arial,sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#E8EAED;padding:48px 16px;\">\n  <tr><td align=\"center\">\n    <table width=\"640\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:640px;width:100%;\">\n\n      <!-- BRAND BAR -->\n      <tr>\n        <td style=\"background:#003057;padding:16px 44px;border-radius:14px 14px 0 0;\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td style=\"font-size:13px;font-weight:700;letter-spacing:3px;color:#4A90B8;text-transform:uppercase;\">\n              Linde Gas\n            </td>\n            <td align=\"right\" style=\"font-size:11px;color:#1E4A6B;letter-spacing:1px;text-transform:uppercase;\">\n              AI Scheduling Assistant\n            </td>\n          </tr></table>\n        </td>\n      </tr>\n\n      <!-- HERO -->\n      <tr>\n        <td style=\"background:#003057;padding:44px 44px 40px;\">\n          <div style=\"display:inline-block;background:rgba(0,160,210,0.12);border:1px solid rgba(0,160,210,0.3);border-radius:100px;padding:5px 16px;margin-bottom:24px;\">\n            <span style=\"font-size:10px;font-weight:700;letter-spacing:2px;color:#00A0D2;text-transform:uppercase;\">Document Ready</span>\n          </div>\n          <h1 style=\"margin:0 0 14px;font-size:32px;font-weight:300;color:#FFFFFF;line-height:1.2;letter-spacing:-0.3px;\">\n            Your document<br><strong style=\"font-weight:700;\">is ready to download.</strong>\n          </h1>\n          <p style=\"margin:0;font-size:14px;color:#5A8BAA;line-height:1.7;max-width:440px;\">\n            Your requested file has been processed and is available for download. Please use the link below to access your document securely.\n          </p>\n        </td>\n      </tr>\n\n      <!-- ACCENT LINE -->\n      <tr>\n        <td style=\"background:#FFFFFF;padding:0 44px;\">\n          <div style=\"height:3px;background:linear-gradient(90deg,#003057,#00A0D2,#00C8E6,transparent);\"></div>\n        </td>\n      </tr>\n\n      <!-- DOCUMENT DETAILS -->\n      <tr>\n        <td style=\"background:#FFFFFF;padding:36px 44px 32px;\">\n\n          <!-- File info card -->\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;background:#F4F7FA;border:1px solid #DDE6ED;border-radius:12px;\">\n            <tr>\n              <td style=\"padding:20px 24px;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n                  <!-- PDF icon -->\n                  <td style=\"width:48px;vertical-align:middle;\">\n                    <div style=\"width:44px;height:44px;background:#003057;border-radius:10px;text-align:center;line-height:44px;font-size:18px;\">\n                      📄\n                    </div>\n                  </td>\n                  <td style=\"padding-left:16px;vertical-align:middle;\">\n                    <p style=\"margin:0 0 3px;font-size:9px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:#8FA8B8;\">File Name</p>\n                    <p style=\"margin:0;font-size:15px;font-weight:600;color:#003057;\">{{ $json.body.filename || $json.filename || 'Document' }}</p>\n                  </td>\n                  <td align=\"right\" style=\"vertical-align:middle;\">\n                    <div style=\"background:rgba(0,160,210,0.1);border:1px solid rgba(0,160,210,0.25);border-radius:100px;padding:4px 14px;\">\n                      <span style=\"font-size:10px;font-weight:700;color:#00A0D2;letter-spacing:1px;\">PDF</span>\n                    </div>\n                  </td>\n                </tr></table>\n              </td>\n            </tr>\n          </table>\n\n          <!-- Download button -->\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:14px;\">\n            <tr>\n              <td>\n                <a href=\"{{ $json.body.file_url || $json.file_url }}\"\n                   style=\"display:block;background:#003057;color:#ffffff;text-decoration:none;padding:18px 32px;border-radius:10px;font-size:14px;font-weight:700;letter-spacing:0.8px;text-align:center;border-bottom:3px solid #00A0D2;\">\n                  ⬇️ &nbsp;Download Document &nbsp;→\n                </a>\n              </td>\n            </tr>\n          </table>\n\n          <!-- Copy link -->\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:36px;\">\n            <tr>\n              <td style=\"background:#F4F7FA;border:1px solid #DDE6ED;border-radius:8px;padding:12px 18px;\">\n                <p style=\"margin:0 0 3px;font-size:9px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:#8FA8B8;\">Direct Link</p>\n                <a href=\"{{ $json.body.file_url || $json.file_url }}\" style=\"font-size:12px;color:#00A0D2;text-decoration:none;word-break:break-all;\">\n                  {{ $json.body.file_url || $json.file_url }}\n                </a>\n              </td>\n            </tr>\n          </table>\n\n          <!-- Info checklist -->\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:36px;\">\n            <tr>\n              <td style=\"border-top:1px solid #EBF0F4;padding-top:32px;\">\n                <p style=\"margin:0 0 18px;font-size:9px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:#8FA8B8;\">Important Notes</p>\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                  <tr><td style=\"padding:11px 0;border-bottom:1px solid #F4F7FA;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:26px;vertical-align:top;\">\n                        <div style=\"width:20px;height:20px;background:#E8F4FB;border-radius:50%;text-align:center;line-height:20px;font-size:9px;color:#00A0D2;font-weight:700;\">01</div>\n                      </td>\n                      <td style=\"font-size:13px;color:#4A6070;line-height:1.5;padding-left:10px;\">This link provides access to your document on Google Drive. Ensure you are signed in to view it.</td>\n                    </tr></table>\n                  </td></tr>\n                  <tr><td style=\"padding:11px 0;border-bottom:1px solid #F4F7FA;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:26px;vertical-align:top;\">\n                        <div style=\"width:20px;height:20px;background:#E8F4FB;border-radius:50%;text-align:center;line-height:20px;font-size:9px;color:#00A0D2;font-weight:700;\">02</div>\n                      </td>\n                      <td style=\"font-size:13px;color:#4A6070;line-height:1.5;padding-left:10px;\">Do not share this link with unauthorized parties. It is intended for your use only.</td>\n                    </tr></table>\n                  </td></tr>\n                  <tr><td style=\"padding:11px 0;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:26px;vertical-align:top;\">\n                        <div style=\"width:20px;height:20px;background:#E8F4FB;border-radius:50%;text-align:center;line-height:20px;font-size:9px;color:#00A0D2;font-weight:700;\">03</div>\n                      </td>\n                      <td style=\"font-size:13px;color:#4A6070;line-height:1.5;padding-left:10px;\">If you experience any issues accessing the document, please contact your Linde Gas representative.</td>\n                    </tr></table>\n                  </td></tr>\n                </table>\n              </td>\n            </tr>\n          </table>\n\n          <!-- Warning note -->\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:36px;\">\n            <tr>\n              <td style=\"background:#FFF8E6;border:1px solid #F0D060;border-left:4px solid #F0B020;border-radius:0 8px 8px 0;padding:14px 20px;\">\n                <p style=\"margin:0;font-size:12px;color:#7A5A00;line-height:1.6;\">\n                  <strong>Confidential:</strong> This document contains proprietary information belonging to Linde Gas. Unauthorized distribution is strictly prohibited.\n                </p>\n              </td>\n            </tr>\n          </table>\n\n        </td>\n      </tr>\n\n      <!-- SIGNATURE -->\n      <tr>\n        <td style=\"background:#FFFFFF;padding:0 44px 40px;\">\n          <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td style=\"width:44px;height:44px;background:#003057;border-radius:50%;text-align:center;vertical-align:middle;\">\n              <span style=\"font-size:18px;color:#00A0D2;font-weight:700;\">L</span>\n            </td>\n            <td style=\"padding-left:14px;vertical-align:middle;\">\n              <p style=\"margin:0;font-size:14px;font-weight:700;color:#003057;\">Linde Gas</p>\n              <p style=\"margin:2px 0 0;font-size:12px;color:#5A8BAA;\">AI-Powered Document Assistant</p>\n            </td>\n          </tr></table>\n        </td>\n      </tr>\n\n      <!-- FOOTER -->\n      <tr>\n        <td style=\"background:#003057;padding:22px 44px;border-radius:0 0 14px 14px;\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td style=\"font-size:11px;color:#1E4A6B;line-height:1.8;\">\n              <a href=\"https://www.linde.com\" style=\"color:#4A90B8;text-decoration:none;\">linde.com</a>\n              &nbsp;·&nbsp;\n              <a href=\"mailto:support@linde.com\" style=\"color:#4A90B8;text-decoration:none;\">support@linde.com</a>\n            </td>\n            <td align=\"right\" style=\"font-size:10px;color:#1E4A6B;\">Automated · Do not reply directly</td>\n          </tr></table>\n        </td>\n      </tr>\n\n    </table>\n  </td></tr>\n</table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "senderName": "Linde's AI Assistant"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1888,
        80
      ],
      "id": "96ca362a-90b0-4515-b0ec-17bef78aca00",
      "name": "Send Document in Gmail",
      "webhookId": "a9c12f3d-51de-4e36-a1c5-4f5bf8fdb918",
      "credentials": {
        "gmailOAuth2": {
          "id": "EKPzxPTrRoLGYUYU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\nJSON.stringify(\n  (() => {\n    const ev = $('Google Calendar').first().json || {};\n\n // Check if Intent Agent se type mil sakta hai\n      const intentData = $('Intent Agent').first().json || {};\n      const intentType = $('downstream node').first().json?.intent || 'appointment';\n\n    const meet =\n      ev.conferenceData?.entryPoints?.find(p => p.entryPointType === 'video')?.uri\n      || ev.hangoutLink\n      || ev.htmlLink\n      || '';\n    const start = ev.start?.dateTime || ev.start?.date || '';\n    const end   = ev.end?.dateTime   || ev.end?.date   || '';\n    const msg = `Your meeting is booked on ${start} → ${end}.${meet ? ` Meet link: ${meet}` : ''}`;\n\n    return {\n      response_message: msg,\n      sources: [{\n        doc_id: '',\n        title: 'Join Google Meet',\n        file_url: meet,\n         type: intentType\n      }]\n    };\n  })()\n)\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        768,
        2608
      ],
      "id": "8697f2a1-cebd-4c4f-a5dd-cb0492727e9b",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "helpdeskcustomer02careplus@gmail.com",
          "mode": "list",
          "cachedResultName": "helpdeskcustomer02careplus@gmail.com"
        },
        "start": "={{\n(() => {\n  const raw = $('Calendar Agent').first().json?.output || '';\n  let data = {};\n  try { \n    data = typeof raw === 'string' ? JSON.parse(raw) : raw; \n  } catch {}\n  \n  const s = data.start || data.start_time || data.startISO || data.preferred_date || '';\n  const t = data.preferred_time || '';\n  \n  let d;\n  if (s && t && !s.includes('T')) {\n    d = new Date(`${s}T${t}:00`);\n  } else if (s) {\n    d = new Date(s);\n  } else {\n    d = new Date();\n  }\n  \n  // ISO 8601 format with timezone\n  return d.toISOString();\n})()\n}}",
        "end": "={{\n(() => {\n  const raw = $('Calendar Agent').first().json?.output || '';\n  let data = {};\n  try { \n    data = typeof raw === 'string' ? JSON.parse(raw) : raw; \n  } catch {}\n  \n  const s = data.start || data.start_time || data.startISO || data.preferred_date || '';\n  const t = data.preferred_time || '';\n  const e = data.end || data.end_time || data.endISO || '';\n  const durMin = Number.isFinite(+data.duration_min) ? +data.duration_min : 60;\n  \n  let start;\n  if (s && t && !s.includes('T')) {\n    start = new Date(`${s}T${t}:00`);\n  } else if (s) {\n    start = new Date(s);\n  } else {\n    start = new Date();\n  }\n  \n  let end = e ? new Date(e) : new Date(start.getTime() + durMin * 60000);\n  \n  // ISO 8601 format with timezone\n  return end.toISOString();\n})()\n}}",
        "additionalFields": {
          "attendees": [
            "={{ (() => { const raw = $('Calendar Agent').first().json?.output || ''; let data = {}; try { data = typeof raw === 'string' ? JSON.parse(raw) : raw; } catch(e) {} const att = data.attendees; if (Array.isArray(att) && att.length > 0) return att[0]; return data.email || ''; })() }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "summary": "={{ $(\"Calendar Agent\").first().json?.output && (JSON.parse($(\"Calendar Agent\").first().json.output).summary || 'Linde Gas Meeting') }}\n"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        144,
        2608
      ],
      "id": "f6c12263-2293-4a1a-b793-1dd5a071f451",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "u0Ssyw9Dl3DwA82F",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Read event from Google Calendar node ---\nconst ev = ($('Google Calendar')?.first()?.json) || {};\n\n// --- Meet link ---\nconst meetFromEntry =\n  ev?.conferenceData?.entryPoints?.find(e => e?.entryPointType === 'video')?.uri || '';\nconst hangoutLink = ev?.hangoutLink || '';\nconst htmlLink    = ev?.htmlLink    || '';\nconst meet        = meetFromEntry || hangoutLink || htmlLink || '';\n\n// --- Title ---\nconst title = ev?.summary || 'Linde Gas Connect with Clients';\n\n// --- Timezone & times ---\nconst tz   = 'Europe/Berlin';\nconst sISO = ev?.start?.dateTime || ev?.start?.date || '';\nconst eISO = ev?.end?.dateTime   || ev?.end?.date   || '';\n\nconst safeDate = (iso) => iso ? new Date(iso) : null;\n\nconst formatDate = (iso, zone) => {\n  if (!iso) return 'Meeting date';\n  try {\n    return new Intl.DateTimeFormat('en-GB', { dateStyle: 'full', timeZone: zone })\n      .format(safeDate(iso));\n  } catch { return iso; }\n};\n\nconst formatTime = (iso, zone, withZone = false) => {\n  if (!iso) return '';\n  try {\n    return new Intl.DateTimeFormat('en-GB', {\n      timeStyle: 'short', timeZone: zone,\n      ...(withZone ? { timeZoneName: 'short' } : {})\n    }).format(safeDate(iso));\n  } catch { return iso; }\n};\n\nconst meetingDate = formatDate(sISO, tz);\nconst startTime   = formatTime(sISO, tz, false);\nconst endTime     = formatTime(eISO, tz, false);\nconst tzShort     = formatTime(sISO, tz, true).split(' ').slice(-1)[0] || tz;\n\nlet meetingTime = 'Time not set';\nif (startTime && endTime) meetingTime = `${startTime} – ${endTime} (${tzShort})`;\nelse if (startTime)       meetingTime = `${startTime} (${tzShort})`;\n\nconst isGoogleMeet = !!meet && meet.includes('meet.google.com');\nconst buttonText   = isGoogleMeet ? 'Join Google Meet' : 'View Calendar Event';\n\n// --- Participant info ---\n// Email from Calendar Agent confirmed output (user-provided via chat form)\nconst calAgentRaw = ($('Calendar Agent')?.first()?.json?.output) || '{}';\nlet calAgentData = {};\ntry { calAgentData = typeof calAgentRaw === 'string' ? JSON.parse(calAgentRaw) : calAgentRaw; } catch(e) {}\nconst _att = calAgentData.attendees;\nconst participantEmail = (Array.isArray(_att) && _att.length > 0) ? _att[0] : (calAgentData.email || '');\nconst participantName  = '';\nconst companyName      = 'Linde Gas';\n\n// --- Enterprise HTML ---\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0;padding:0;background-color:#E8EAED;font-family:'Segoe UI',Arial,sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#E8EAED;padding:48px 16px;\">\n  <tr><td align=\"center\">\n    <table width=\"640\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:640px;width:100%;\">\n\n      <!-- BRAND BAR -->\n      <tr>\n        <td style=\"background:#003057;padding:16px 44px;border-radius:14px 14px 0 0;\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td style=\"font-size:13px;font-weight:700;letter-spacing:3px;color:#4A90B8;text-transform:uppercase;\">\n              Linde Gas\n            </td>\n            <td align=\"right\" style=\"font-size:11px;color:#1E4A6B;letter-spacing:1px;text-transform:uppercase;\">\n              AI Scheduling Assistant\n            </td>\n          </tr></table>\n        </td>\n      </tr>\n\n      <!-- HERO -->\n      <tr>\n        <td style=\"background:#003057;padding:44px 44px 40px;\">\n          <div style=\"display:inline-block;background:rgba(0,160,210,0.12);border:1px solid rgba(0,160,210,0.3);border-radius:100px;padding:5px 16px;margin-bottom:24px;\">\n            <span style=\"font-size:10px;font-weight:700;letter-spacing:2px;color:#00A0D2;text-transform:uppercase;\">Meeting Invitation</span>\n          </div>\n          <h1 style=\"margin:0 0 14px;font-size:34px;font-weight:300;color:#FFFFFF;line-height:1.2;letter-spacing:-0.3px;\">\n            You have been<br><strong style=\"font-weight:700;\">invited to a meeting.</strong>\n          </h1>\n          <p style=\"margin:0;font-size:14px;color:#5A8BAA;line-height:1.7;max-width:440px;\">\n            ${participantName ? `Dear ${participantName}, a` : 'A'} meeting has been scheduled on your behalf via the Linde Gas AI-Powered Scheduling Assistant. Please review the details below.\n          </p>\n        </td>\n      </tr>\n\n      <!-- ACCENT LINE -->\n      <tr>\n        <td style=\"background:#FFFFFF;padding:0 44px;\">\n          <div style=\"height:3px;background:linear-gradient(90deg,#003057,#00A0D2,#00C8E6,transparent);\"></div>\n        </td>\n      </tr>\n\n      <!-- MEETING DETAILS -->\n      <tr>\n        <td style=\"background:#FFFFFF;padding:36px 44px 32px;\">\n\n          <!-- 3-col grid -->\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">\n            <tr>\n              <td width=\"44%\" style=\"vertical-align:top;padding-right:20px;\">\n                <p style=\"margin:0 0 5px;font-size:9px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:#8FA8B8;\">Meeting Title</p>\n                <p style=\"margin:0;font-size:15px;font-weight:600;color:#003057;line-height:1.4;\">${title}</p>\n              </td>\n              <td width=\"18%\" style=\"vertical-align:top;padding:0 20px;border-left:1px solid #EBF0F4;\">\n                <p style=\"margin:0 0 5px;font-size:9px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:#8FA8B8;\">Date</p>\n                <p style=\"margin:0;font-size:15px;font-weight:600;color:#003057;\">${meetingDate}</p>\n              </td>\n              <td width=\"38%\" style=\"vertical-align:top;padding-left:20px;border-left:1px solid #EBF0F4;\">\n                <p style=\"margin:0 0 5px;font-size:9px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:#8FA8B8;\">Time</p>\n                <p style=\"margin:0;font-size:15px;font-weight:600;color:#003057;\">${meetingTime}</p>\n              </td>\n            </tr>\n          </table>\n\n          <!-- Time block card -->\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:32px;background:#F4F7FA;border:1px solid #DDE6ED;border-radius:10px;\">\n            <tr>\n              <td width=\"50%\" style=\"padding:18px 24px;border-right:1px solid #DDE6ED;\">\n                <p style=\"margin:0 0 4px;font-size:9px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:#8FA8B8;\">Starts</p>\n                <p style=\"margin:0;font-size:14px;font-weight:600;color:#003057;\">${startTime || '—'} <span style=\"font-weight:400;color:#5A8BAA;font-size:12px;\">${tzShort}</span></p>\n              </td>\n              <td width=\"50%\" style=\"padding:18px 24px;\">\n                <p style=\"margin:0 0 4px;font-size:9px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:#8FA8B8;\">Ends</p>\n                <p style=\"margin:0;font-size:14px;font-weight:600;color:#003057;\">${endTime || '—'} <span style=\"font-weight:400;color:#5A8BAA;font-size:12px;\">${tzShort}</span></p>\n              </td>\n            </tr>\n          </table>\n\n          <!-- CTA Button -->\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:14px;\">\n            <tr>\n              <td>\n                <a href=\"${meet}\"\n                   style=\"display:block;background:#003057;color:#ffffff;text-decoration:none;padding:18px 32px;border-radius:10px;font-size:14px;font-weight:700;letter-spacing:0.8px;text-align:center;border-bottom:3px solid #00A0D2;\">\n                  ${isGoogleMeet ? '📹 &nbsp;Join via Google Meet' : '📅 &nbsp;View Calendar Event'} &nbsp;→\n                </a>\n              </td>\n            </tr>\n          </table>\n\n          <!-- Copy link -->\n          ${meet ? `\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:36px;\">\n            <tr>\n              <td style=\"background:#F4F7FA;border:1px solid #DDE6ED;border-radius:8px;padding:12px 18px;\">\n                <p style=\"margin:0 0 3px;font-size:9px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:#8FA8B8;\">Meeting Link</p>\n                <a href=\"${meet}\" style=\"font-size:12px;color:#00A0D2;text-decoration:none;word-break:break-all;\">${meet}</a>\n              </td>\n            </tr>\n          </table>` : ''}\n\n          <!-- Preparation checklist -->\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:36px;\">\n            <tr>\n              <td style=\"border-top:1px solid #EBF0F4;padding-top:32px;\">\n                <p style=\"margin:0 0 18px;font-size:9px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:#8FA8B8;\">Before the Meeting</p>\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                  <tr><td style=\"padding:11px 0;border-bottom:1px solid #F4F7FA;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:26px;vertical-align:top;\">\n                        <div style=\"width:20px;height:20px;background:#E8F4FB;border-radius:50%;text-align:center;line-height:20px;font-size:9px;color:#00A0D2;font-weight:700;\">01</div>\n                      </td>\n                      <td style=\"font-size:13px;color:#4A6070;line-height:1.5;padding-left:10px;\">Test your audio and video connection prior to joining.</td>\n                    </tr></table>\n                  </td></tr>\n                  <tr><td style=\"padding:11px 0;border-bottom:1px solid #F4F7FA;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:26px;vertical-align:top;\">\n                        <div style=\"width:20px;height:20px;background:#E8F4FB;border-radius:50%;text-align:center;line-height:20px;font-size:9px;color:#00A0D2;font-weight:700;\">02</div>\n                      </td>\n                      <td style=\"font-size:13px;color:#4A6070;line-height:1.5;padding-left:10px;\">Prepare a brief overview of your agenda or key discussion points.</td>\n                    </tr></table>\n                  </td></tr>\n                  <tr><td style=\"padding:11px 0;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:26px;vertical-align:top;\">\n                        <div style=\"width:20px;height:20px;background:#E8F4FB;border-radius:50%;text-align:center;line-height:20px;font-size:9px;color:#00A0D2;font-weight:700;\">03</div>\n                      </td>\n                      <td style=\"font-size:13px;color:#4A6070;line-height:1.5;padding-left:10px;\">Have any relevant documentation or references ready to share.</td>\n                    </tr></table>\n                  </td></tr>\n                </table>\n              </td>\n            </tr>\n          </table>\n\n          <!-- Reschedule note -->\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:36px;\">\n            <tr>\n              <td style=\"background:#FFF8E6;border:1px solid #F0D060;border-left:4px solid #F0B020;border-radius:0 8px 8px 0;padding:14px 20px;\">\n                <p style=\"margin:0;font-size:12px;color:#7A5A00;line-height:1.6;\">\n                  <strong>Need to reschedule or cancel?</strong> Please contact your Linde Gas representative or reply to this email at least 24 hours before the meeting.\n                </p>\n              </td>\n            </tr>\n          </table>\n\n        </td>\n      </tr>\n\n      <!-- SIGNATURE -->\n      <tr>\n        <td style=\"background:#FFFFFF;padding:0 44px 40px;\">\n          <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td style=\"width:44px;height:44px;background:#003057;border-radius:50%;text-align:center;vertical-align:middle;\">\n              <span style=\"font-size:18px;color:#00A0D2;font-weight:700;\">L</span>\n            </td>\n            <td style=\"padding-left:14px;vertical-align:middle;\">\n              <p style=\"margin:0;font-size:14px;font-weight:700;color:#003057;\">Linde Gas</p>\n              <p style=\"margin:2px 0 0;font-size:12px;color:#5A8BAA;\">AI-Powered Scheduling Assistant · ${companyName}</p>\n            </td>\n          </tr></table>\n        </td>\n      </tr>\n\n      <!-- FOOTER -->\n      <tr>\n        <td style=\"background:#003057;padding:22px 44px;border-radius:0 0 14px 14px;\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td style=\"font-size:11px;color:#1E4A6B;line-height:1.8;\">\n              <a href=\"https://www.linde.com\" style=\"color:#4A90B8;text-decoration:none;\">linde.com</a>\n              &nbsp;·&nbsp;\n              <a href=\"mailto:support@linde.com\" style=\"color:#4A90B8;text-decoration:none;\">support@linde.com</a>\n            </td>\n            <td align=\"right\" style=\"font-size:10px;color:#1E4A6B;\">Automated · Do not reply directly</td>\n          </tr></table>\n        </td>\n      </tr>\n\n    </table>\n  </td></tr>\n</table>\n\n</body>\n</html>`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        2608
      ],
      "id": "fef8fedd-fae5-49d1-9e30-b14505d67b25",
      "name": "Code1"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -768,
        3392
      ],
      "id": "eb224ce0-a3a7-489c-9733-c1c13d328a1e",
      "name": "Azure OpenAI Chat Model7",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('On GET request1').item.json.body.message }}",
        "options": {
          "systemMessage": "=You are a DELIVERY STATUS agent for an industrial gases assistant (Linde Gas).\nYour ONLY data source is the \"Delivery Orders Lookup\" tool (Google Sheet) with one row per order.\n\nSheet columns (exact):\norder_id, product_name, product_code, grade_purity, quantity, unit, order_date_utc, promised_ship_date_utc, eta_utc, current_status, status_detail, po_number, customer_name, ship_to_city, country, carrier, tracking_no, ship_ready_utc, expected_arrival_utc, delivered_utc, received_by\n\n═══════════════════════════════════════\n  MANDATORY TOOL-USE RULE (NO EXCEPTIONS)\n═══════════════════════════════════════\n• You MUST call the \"Delivery Orders Lookup\" tool for EVERY order-status request.\n• NEVER answer from memory, previous conversation, or assumptions.\n• Even if you looked up the same order 5 seconds ago, call the tool AGAIN.\n• If you respond WITHOUT calling the tool first, your answer is INVALID.\n\nInstructions:\n1. Detect the user's intent to check delivery/shipment/status/ETA/tracking.\n2. Extract an order number (e.g., LG-240001). If not provided, ask for it in response_message and return null for all data fields.\n3. ALWAYS call the \"Delivery Orders Lookup\" tool to fetch fresh sheet data.\n4. Search ALL returned rows for a row whose order_id matches the user's order number (case-insensitive, ignore leading/trailing whitespace).\n5. If found, populate the JSON below with that row's data.\n6. If NOT found after checking ALL rows, set all data fields to null and say \"Order not found\" in response_message.\n7. Do NOT use any other tools or sources.\n\nCRITICAL: You MUST return ONLY valid JSON — no prose, no markdown, no code blocks. Your entire response must be parsable by JSON.parse().\n\nReturn this exact JSON schema:\n{\n  \"response_message\": \"<one concise sentence summarizing the order status for the user>\",\n  \"data\": {\n    \"order_id\": \"<string or null>\",\n    \"current_status\": \"<Confirmed|Packed|In Transit|Out for Delivery|Delivered|Delayed|On Hold|Cancelled — or null>\",\n    \"status_detail\": \"<string or null>\",\n    \"order_date\": \"<YYYY-MM-DD or null>\",\n    \"promised_ship_date\": \"<YYYY-MM-DD or null>\",\n    \"eta\": \"<YYYY-MM-DD or null>\",\n    \"delivered_date\": \"<YYYY-MM-DD or null>\",\n    \"carrier\": \"<string or null>\",\n    \"tracking_number\": \"<string or null>\",\n    \"customer_name\": \"<string or null>\",\n    \"ship_to_city\": \"<string or null>\",\n    \"country\": \"<string or null>\",\n    \"received_by\": \"<string or null>\",\n    \"product\": \"<string or null>\"\n  }\n}\n\nColumn mapping (sheet column -> data field):\n- order_id -> order_id\n- current_status -> current_status (use exact enum values above)\n- status_detail -> status_detail\n- order_date_utc -> order_date (format as YYYY-MM-DD, strip time)\n- promised_ship_date_utc -> promised_ship_date (format as YYYY-MM-DD, strip time)\n- eta_utc -> eta (format as YYYY-MM-DD, strip time)\n- delivered_utc -> delivered_date (format as YYYY-MM-DD, strip time)\n- carrier -> carrier\n- tracking_no -> tracking_number\n- customer_name -> customer_name\n- ship_to_city -> ship_to_city\n- country -> country\n- received_by -> received_by\n- product_name -> product\n\nIf order not found — set all data fields to null and explain in response_message.\nIf user did not provide an order number — set all data fields to null and ask for it in response_message."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -768,
        3136
      ],
      "id": "33f67def-accd-4d82-92c1-1dc50acc6124",
      "name": "Delivery Status Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GZK92mdF6vDivSMQW0xB4XYZKQlDW7Cdz5TGprYvSG0",
          "mode": "list",
          "cachedResultName": "Delivery_Status_File",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GZK92mdF6vDivSMQW0xB4XYZKQlDW7Cdz5TGprYvSG0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DeliveryStatus_Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GZK92mdF6vDivSMQW0xB4XYZKQlDW7Cdz5TGprYvSG0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -432,
        3392
      ],
      "id": "61a95b28-a087-4038-9502-acf591698e0e",
      "name": "Delivery Orders Lookup",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Su8v9Q233m6xH1Nv",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify(\n    (() => {\n      const g = $('Delivery Status Agent').first().json || {};\n      const raw = g.output ?? g.text ?? g.message ?? g;\n      \n      const intentType = $('downstream node').first().json?.intent || 'delivery_update';\n      const confidence = $('downstream node').first().json?.confidence ?? null;\n\n      const CLARIFICATION_PHRASES = ['please provide', 'could you please', 'could you provide',\n        'please share', 'please let me know', 'kindly provide', 'what is your order',\n        'can you provide', 'can you share'];\n      \n      const responseText = String(typeof raw === 'string' && raw ? raw : '');\n      \n      // Try to parse structured JSON output from the agent\n      let parsed = null;\n      try {\n        parsed = typeof raw === 'string' ? JSON.parse(raw) : (typeof raw === 'object' && raw !== null ? raw : null);\n      } catch (_) {\n        // Try to extract JSON block from markdown-wrapped output\n        try {\n          const jsonMatch = responseText.match(/```(?:json)?\\s*([\\s\\S]+?)\\s*```/) || responseText.match(/(\\{[\\s\\S]+\\})/);\n          if (jsonMatch) parsed = JSON.parse(jsonMatch[1]);\n        } catch (__) { /* ignore */ }\n      }\n      \n      if (parsed && (parsed.response_message !== undefined || parsed.data !== undefined)) {\n        const msg = String(parsed.response_message || '');\n        const lowerMsg = msg.toLowerCase();\n        const isClarification = CLARIFICATION_PHRASES.some(p => lowerMsg.includes(p));\n        const d = parsed.data || {};\n        \n        const delivery_data_raw = {\n          order_id:           d.order_id           || null,\n          current_status:     d.current_status     || null,\n          status_detail:      d.status_detail      || null,\n          order_date:         d.order_date         || null,\n          promised_ship_date: d.promised_ship_date || null,\n          eta:                d.eta                || null,\n          delivered_date:     d.delivered_date     || null,\n          carrier:            d.carrier            || null,\n          tracking_number:    d.tracking_number    || null,\n          customer_name:      d.customer_name      || null,\n          ship_to_city:       d.ship_to_city       || null,\n          country:            d.country            || null,\n          received_by:        d.received_by        || null,\n          product:            d.product            || null,\n        };\n        const hasData = !isClarification && Object.values(delivery_data_raw).some(v => v !== null);\n        \n        return {\n          response_message: msg || 'Delivery status retrieved.',\n          sources: isClarification ? [] : [{ doc_id: 'delivery_doc_001', title: 'Delivery Status Document', file_url: '', type: intentType }],\n          meta: { confidence },\n          ...(hasData ? { delivery_data: delivery_data_raw } : {}),\n        };\n      }\n      \n      // Fallback: agent did not return valid JSON\n      const fallbackText = responseText || 'No delivery status available.';\n      const lowerFallback = fallbackText.toLowerCase();\n      const isFallbackClarification = CLARIFICATION_PHRASES.some(p => lowerFallback.includes(p));\n      \n      return {\n        response_message: fallbackText,\n        sources: isFallbackClarification ? [] : [{ doc_id: 'delivery_doc_001', title: 'Delivery Status Document', file_url: '', type: intentType }],\n        meta: { confidence },\n      };\n    })()\n  )\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -384,
        3136
      ],
      "id": "1c1dc203-94c8-46cc-a7b2-6a4e606d92ed",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -720,
        4512
      ],
      "id": "2ab2ae02-d708-4566-9681-0492ca69beb1",
      "name": "Azure OpenAI Chat Model8",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify(\n    (() => {\n      // 1) Greeting Agent ka raw output uthao\n      //    (Tools Agent aksar { output: \"...\" } deta hai)\n      const g = $('General Agent').first().json || {};\n      const raw = g.output ?? g.text ?? g.message ?? g; // string ya object\n\n // Check if Intent Agent se type mil sakta hai\n      const intentData = $('Intent Agent').first().json || {};\n      const intentType = intentData.type || 'greeting';\n\n      // 2) Agar JSON string/object me hi contract mil gaya ho to sanitize karke return\n      try {\n        const maybe =\n          typeof raw === 'string' ? JSON.parse(raw) :\n          (typeof raw === 'object' ? raw : null);\n\n        if (maybe && (maybe.response_message || maybe.sources)) {\n          const src = Array.isArray(maybe.sources) ? maybe.sources : [];\n          return {\n            response_message: String(maybe.response_message || ''),\n            sources: src.map(s => ({\n              doc_id: s?.doc_id || '',\n              title:  s?.title  || '',\n              file_url: s?.file_url || '',\n               type: intentType\n            }))\n          };\n        }\n      } catch (_) { /* ignore parse errors; fallback below */ }\n\n      // 3) Fallback: plain greeting text -> same contract, empty sources\n      return {\n        response_message: String(\n          typeof raw === 'string' && raw ? raw : 'Hello! 👋'\n        ),\n        sources: []\n      };\n    })()\n  )\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -384,
        4304
      ],
      "id": "cd0e371a-e5d1-43a0-ab82-d1be1b17ba70",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('On GET request1').item.json.body.message }}",
        "options": {
          "systemMessage": "You are Linde Gas Assistant, designed to help users with internal Linde-related information and services.\nYour primary responsibilities include:\n\nProviding details about TDS (Technical Data Sheets)\n\nSupporting quotation-related queries\n\nHelping users schedule a call with a Linde sales representative\n\nChecking delivery status\n\nAnswering questions about Linde Gas, our products, processes, and services\n\nIf a user asks about your role or who you are, politely explain that you are an assistant created to support Linde employees/customers with information and internal processes.\n\nIf the user asks something not related to Linde Gas, or a question outside your supported domain, respond with:\n\n“Sorry, I think I might not be able to answer this query. My role is to assist only with Linde Gas internal information like TDS, quotations, sales support, and delivery status checks.”\n\nBe interactive, concise, and professional.\nYour goal is to guide the user toward what you can help with rather than what you cannot.\nWhen appropriate, offer actionable next steps (e.g., “Would you like me to fetch the TDS?” or “Should I check the delivery status for you?”).\n\nDo not guess or provide any information unrelated to Linde Gas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -736,
        4304
      ],
      "id": "2c81ee1a-1ee4-471b-afad-56016ec64115",
      "name": "General Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('On GET request1').item.json.body.message }}",
        "options": {
          "systemMessage": "You are an AVAILABILITY agent for Linde Gas industrial products.\nYour ONLY data source is the Availability Master Google Sheet tool provided.\n\nSheet columns (exact):\nproduct_code, product_name, grade_purity, location_dc, stock_status, available_qty, lead_time_days, next_restock_date, notes\n\nWhat to do:\n1. Extract the gas/product name, purity (if mentioned), and location (if mentioned) from the user message.\n2. Read the Availability Master sheet.\n3. Filter rows matching the product (case-insensitive). Also filter by purity and location if provided.\n4. If a match is found, respond with:\n   - stock_status\n   - available_qty\n   - lead_time_days\n   - next_restock_date (if set)\n   - notes (if any)\n5. If no match → respond clearly that the product is not found in the availability data. Do NOT hallucinate.\n6. If multiple matches (e.g. multiple locations), list all of them.\n\nFormat: plain text summary (the workflow wraps it into JSON).\n\nDo NOT use any other tool or knowledge source."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -768,
        4688
      ],
      "id": "40f7c525-921c-4111-847a-0d5ba32f3c74",
      "name": "Availability Agent"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -768,
        4912
      ],
      "id": "fa6c36bc-a9f1-4a06-9901-fea677bc8a0b",
      "name": "Azure OpenAI Chat Model Availability",
      "credentials": {
        "azureOpenAiApi": {
          "id": "GY4Q8mgEUUo1Jqlm",
          "name": "Azure Open AI account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_AVAILABILITY_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Availability_Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_AVAILABILITY_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -416,
        4912
      ],
      "id": "bc0398df-79f2-4069-ad69-e11a24207504",
      "name": "Availability Master Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Su8v9Q233m6xH1Nv",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify(\n    (() => {\n      const g = $('Availability Agent').first().json || {};\n      const raw = g.output ?? g.text ?? g.message ?? g;\n      const intentType = $('downstream node').first().json?.intent || 'availability';\n\n      try {\n        const maybe = typeof raw === 'string' ? JSON.parse(raw) : raw;\n        if (maybe && (maybe.response_message || maybe.sources)) {\n          const src = Array.isArray(maybe.sources) ? maybe.sources : [];\n          return {\n            response_message: String(maybe.response_message || ''),\n            sources: src.length > 0 ? src.map(s => ({\n              doc_id: s?.doc_id || 'availability_sheet',\n              title: s?.title || 'Availability Master',\n              file_url: s?.file_url || '',\n              type: intentType\n            })) : [{ doc_id: 'availability_sheet', title: 'Availability Master', file_url: '', type: intentType }]\n          };\n        }\n      } catch (_) { /* fallback below */ }\n\n      return {\n        response_message: String(typeof raw === 'string' && raw ? raw : 'No availability data found.'),\n        sources: [{ doc_id: 'availability_sheet', title: 'Availability Master', file_url: '', type: intentType }]\n      };\n    })()\n  )\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -384,
        4688
      ],
      "id": "5b3adbdc-2248-4dde-86fe-f8903a52f37f",
      "name": "Respond to Webhook Availability"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('On GET request1').item.json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2592,
        1696
      ],
      "id": "ccdfd0ac-6a2c-4645-8ef7-610814ceff5f",
      "name": "Memory - Intent Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('On GET request1').item.json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -528,
        4016
      ],
      "id": "5f601502-eaff-4a66-bc56-2203adfe5cbe",
      "name": "Memory - Greeting Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('On GET request1').item.json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -352,
        2256
      ],
      "id": "83456a76-886b-4dfb-bd23-ec488cc4d532",
      "name": "Memory - Quotation Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('On GET request1').item.json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -560,
        2896
      ],
      "id": "3d55b7ef-9280-49a4-9de5-5fb96c916f2e",
      "name": "Memory - Calendar Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('On GET request1').item.json.body.sessionId }}",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -592,
        3392
      ],
      "id": "940132c9-adf8-4bd3-9a98-8aba53e9a039",
      "name": "Memory - Delivery Status Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('On GET request1').item.json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -544,
        4496
      ],
      "id": "c6dc36aa-2afe-42c2-80eb-9be09287f1fc",
      "name": "Memory - General Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('On GET request1').item.json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -592,
        4912
      ],
      "id": "a0fc6071-7ac0-4c32-97f8-d5870a10ce48",
      "name": "Memory - Availability Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "multi001-cond-isMultiIntent",
              "leftValue": "={{$json.isMultiIntent}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3e284a49-6276-4890-ae34-b758903d03df",
      "name": "Multi-Intent Check",
      "type": "n8n-nodes-base.if",
      "position": [
        -1632,
        1472
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  (function() {\n    try {\n      var r = $json.result;\n      if (r && typeof r === 'object') {\n        return JSON.stringify({\n          response_message: String(r.response_message || 'Here are the requested documents.'),\n          sources: Array.isArray(r.sources) ? r.sources : [],\n          meta: {\n            confidence: (r.meta && r.meta.confidence != null) ? r.meta.confidence : null,\n            sources_used: (r.meta && r.meta.sources_used != null) ? r.meta.sources_used : (Array.isArray(r.sources) ? r.sources.length : 0),\n            intents: (r.meta && Array.isArray(r.meta.intents)) ? r.meta.intents : []\n          }\n        });\n      }\n    } catch(e) {}\n    // Fallback: build from Build Multi Response if $json.result missing\n    try {\n      var bm = $('Build Multi Response').first().json.result;\n      if (bm && typeof bm === 'object') {\n        return JSON.stringify({\n          response_message: String(bm.response_message || 'Here are the requested documents.'),\n          sources: Array.isArray(bm.sources) ? bm.sources : [],\n          meta: {\n            confidence: (bm.meta && bm.meta.confidence != null) ? bm.meta.confidence : null,\n            sources_used: Array.isArray(bm.sources) ? bm.sources.length : 0,\n            intents: (bm.meta && Array.isArray(bm.meta.intents)) ? bm.meta.intents : []\n          }\n        });\n      }\n    } catch(e2) {}\n    return JSON.stringify({\n      response_message: 'I processed your multi-intent request but encountered a formatting issue. Please try again.',\n      sources: [],\n      meta: { confidence: null, sources_used: 0, intents: [] }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        576,
        992
      ],
      "id": "eb80b0e1-9ea9-4ea6-b116-a134f059a8b6",
      "name": "Respond Multi-Intent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mi-chunks-assign",
              "name": "chunks",
              "type": "number",
              "value": 4
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        992
      ],
      "id": "86e86b75-d739-43e3-be03-8083ba798c0c",
      "name": "Set Chunks Multi"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinecode-vector-db-embedding-large-3072",
          "mode": "list",
          "cachedResultName": "pinecode-vector-db-embedding-large-3072"
        },
        "prompt": "={{ $('On GET request1').first().json.body.message }}",
        "topK": "={{ $json.chunks }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -544,
        992
      ],
      "id": "c6bc0f3e-46c6-45dc-9c08-901a9d26c473",
      "name": "Get DS Chunks Multi",
      "credentials": {
        "pineconeApi": {
          "id": "hgnuyHwY6hQPWfli",
          "name": "PineconeApi account Multiple files upload"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -544,
        1184
      ],
      "id": "a1ff90d6-c59a-4a82-ac6f-350db56321df",
      "name": "Embeddings DS Multi",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gas alias map: normalized name (from downstream node) → tokens to match in filenames\nconst GAS_ALIASES = {\n  'oxygen':         ['O2','Oxygen'],\n  'o2':             ['O2','Oxygen'],\n  'nitrogen':       ['N2','Nitrogen'],\n  'n2':             ['N2','Nitrogen'],\n  'argon':          ['Ar','Argon'],\n  'ar':             ['Ar','Argon'],\n  'hydrogen':       ['H2','Hydrogen'],\n  'h2':             ['H2','Hydrogen'],\n  'carbon dioxide': ['CO2'],\n  'co2':            ['CO2'],\n  'helium':         ['He','Helium'],\n  'he':             ['He','Helium'],\n  'methane':        ['CH4','Methane'],\n  'ch4':            ['CH4','Methane'],\n};\n\nfunction getGasTerms(gasName) {\n  if (!gasName) return [];\n  const key = gasName.toLowerCase().trim();\n  return GAS_ALIASES[key] || [gasName];\n}\n\nfunction fileNameMatchesGas(fileName, gasTerms) {\n  if (!gasTerms || gasTerms.length === 0) return true;\n  const up = fileName.toUpperCase();\n  return gasTerms.some(function(raw) {\n    const t = raw.toUpperCase();\n    return up.indexOf('_' + t + '_') !== -1\n        || up.indexOf('_' + t + '.') !== -1\n        || up.indexOf('-' + t + '-') !== -1\n        || up.indexOf('-' + t + '.') !== -1\n        || up.startsWith(t + '_') || up.startsWith(t + '-')\n        || up.endsWith('_' + t)   || up.endsWith('-' + t);\n  });\n}\n\n// Read gas entity from downstream node (accessible before Pinecone retrieval)\nconst gasName = $('downstream node').first().json.entities?.gas || '';\nconst gasTerms = getGasTerms(gasName);\n\n// Extract unique document sources from Datasheet Pinecone chunks\nconst chunks = $input.all();\nconst seen = {};\nconst dsSources = [];\n\nfor (const chunk of chunks) {\n  const meta = chunk.json?.document?.metadata ?? {};\n  const fileName = meta.file_name || '';\n  const dedupeKey = fileName || meta.doc_id || meta.source || '';\n  if (!dedupeKey) continue;\n  // ── Gas filter: skip if filename doesn't match extracted gas ──\n  if (gasTerms.length > 0 && !fileNameMatchesGas(fileName, gasTerms)) continue;\n  if (!seen[dedupeKey]) {\n    seen[dedupeKey] = true;\n    const fileUrl =\n      meta.file_url ||\n      meta.webContentLink ||\n      meta.webViewLink ||\n      (meta.file_id ? 'https://drive.google.com/uc?id=' + meta.file_id + '&export=download' : '') ||\n      (meta.id      ? 'https://drive.google.com/uc?id=' + meta.id      + '&export=download' : '') ||\n      '';\n    const docId = fileName.replace(/\\.(pdf|txt|docx?)$/i, '') || meta.doc_id || fileName || '';\n    dsSources.push({ doc_id: docId, title: fileName || docId, file_url: fileUrl, type: 'datasheet' });\n  }\n  if (dsSources.length >= 2) break;\n}\n\n// Pass gas + gasTerms through so Build Multi Response can reuse them\nreturn {\n  dsSources: dsSources,\n  chunks: 4,\n  gas: gasName,\n  gasTerms: gasTerms\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        992
      ],
      "id": "6ba6963b-c455-4ac6-8bbe-cf289d829d97",
      "name": "Extract DS Sources"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "quotation-linde-large-3072",
          "mode": "list",
          "cachedResultName": "quotation-linde-large-3072"
        },
        "prompt": "={{ $('On GET request1').first().json.body.message }}",
        "topK": "2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        0,
        992
      ],
      "id": "8dbcf149-0b99-46fc-b1a2-98e8052a9912",
      "name": "Get QT Chunks Multi",
      "credentials": {
        "pineconeApi": {
          "id": "hgnuyHwY6hQPWfli",
          "name": "PineconeApi account Multiple files upload"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        0,
        1184
      ],
      "id": "4b63fb67-3185-43d4-a21b-dae117122d98",
      "name": "Embeddings QT Multi",
      "credentials": {
        "azureOpenAiApi": {
          "id": "goA9egB8Rs841l49",
          "name": "Azure Open AI account Embedded Model"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Retrieve DS sources + gas context from upstream Extract DS Sources node\nconst dsResult  = $('Extract DS Sources').first().json;\nconst dsSources = dsResult.dsSources || [];\nconst gasName   = dsResult.gas || $('downstream node').first().json.entities?.gas || '';\nconst gasTerms  = dsResult.gasTerms || [];\n\n// ── Gas filename-matching helper ──────────────────────────────────────────\nfunction fileNameMatchesGas(fileName, terms) {\n  if (!terms || terms.length === 0) return true;\n  const up = fileName.toUpperCase();\n  return terms.some(function(raw) {\n    const t = raw.toUpperCase();\n    return up.indexOf('_' + t + '_') !== -1\n        || up.indexOf('_' + t + '.') !== -1\n        || up.indexOf('-' + t + '-') !== -1\n        || up.indexOf('-' + t + '.') !== -1\n        || up.startsWith(t + '_') || up.startsWith(t + '-')\n        || up.endsWith('_' + t)   || up.endsWith('-' + t);\n  });\n}\n\n// ── Extract QT sources from Pinecone chunks ───────────────────────────────\nconst qtChunksAll = $input.all();\nconst seenQt = {};\nconst qtSourcesRaw = [];\n\nfor (const chunk of qtChunksAll) {\n  const meta = chunk.json?.document?.metadata ?? {};\n  const fileName = meta.file_name || '';\n  const dedupeKey = fileName || meta.doc_id || meta.source || '';\n  if (!dedupeKey) continue;\n  if (!seenQt[dedupeKey]) {\n    seenQt[dedupeKey] = true;\n    const fileUrl =\n      meta.file_url ||\n      meta.webContentLink ||\n      meta.webViewLink ||\n      (meta.file_id ? 'https://drive.google.com/uc?id=' + meta.file_id + '&export=download' : '') ||\n      (meta.id      ? 'https://drive.google.com/uc?id=' + meta.id      + '&export=download' : '') ||\n      '';\n    const docId = fileName.replace(/\\.(pdf|txt|docx?)$/i, '') || meta.doc_id || fileName || '';\n    qtSourcesRaw.push({ doc_id: docId, title: fileName || docId, file_url: fileUrl, type: 'quotation' });\n  }\n}\n\n// ── Gas filter for QT: keep only files whose name matches the queried gas ──\nlet qtSources = gasTerms.length > 0\n  ? qtSourcesRaw.filter(s => fileNameMatchesGas(s.title, gasTerms))\n  : qtSourcesRaw;\n\n// Fallback: if filter eliminated everything but we have raw results, log partial\nconst qtFilteredOut = gasTerms.length > 0 && qtSourcesRaw.length > 0 && qtSources.length === 0;\n\n// Only take best 1 quotation document\nqtSources = qtSources.slice(0, 1);\n\n// ── Intent metadata ───────────────────────────────────────────────────────\nconst intentsList = $('downstream node').first().json.intents || [];\nconst confidence  = $('downstream node').first().json.confidence ?? null;\n\n// ── Merge sources ─────────────────────────────────────────────────────────\nconst allSources = [...dsSources, ...qtSources];\n\n// ── Build response message ────────────────────────────────────────────────\nconst gasStr = gasName ? ' for ' + gasName : '';\nconst parts = [];\nif (dsSources.length > 0) {\n  parts.push('Product data sheet' + (dsSources.length > 1 ? 's' : '') + ': ' + dsSources.map(s => s.title).join(', ') + '.');\n} else {\n  parts.push('No product data sheet was found for this query.');\n}\nif (qtSources.length > 0) {\n  parts.push('Quotation document: ' + qtSources.map(s => s.title).join(', ') + '.');\n} else if (qtFilteredOut) {\n  parts.push('Quotation documents were found but none matched ' + (gasName || 'the requested product') + ' specifically.');\n} else {\n  parts.push('No quotation document was found for this query.');\n}\n\nconst responseMessage = (allSources.length > 0\n  ? 'Here are the requested documents' + gasStr + '. '\n  : 'I was unable to find the requested documents' + gasStr + '. ')\n  + parts.join(' ');\n\nreturn {\n  result: {\n    response_message: responseMessage,\n    sources: allSources,\n    meta: {\n      confidence: confidence,\n      sources_used: allSources.length,\n      intents: intentsList\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        992
      ],
      "id": "1c37ed74-50a9-4f9d-bdaf-ad9f90f54632",
      "name": "Build Multi Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "appt-status-check",
              "leftValue": "={{ (() => { const raw = $('Calendar Agent').first().json?.output || ''; try { const d = typeof raw === 'string' ? JSON.parse(raw) : raw; return d.status === 'confirmed'; } catch { return false; } })() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3d34e025-baa3-4f01-83c0-4462bcaa40ff",
      "name": "Validate Appt Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        2624
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => {\n  const raw = $('Calendar Agent').first().json?.output || '';\n  let data = {};\n  try { data = typeof raw === 'string' ? JSON.parse(raw) : raw; } catch {}\n\n  const missing = Array.isArray(data.missing_fields) ? data.missing_fields : ['email', 'date', 'time'];\n\n  const defaultMessages = {\n    email:    'your email address (so we can send a calendar invite)',\n    date:     'your preferred meeting date (e.g. 10 March 2026)',\n    time:     'your preferred time (e.g. 14:30 CET)',\n    subject:  'meeting topic or agenda',\n  };\n\n  const bulletList = missing.map(f => '- ' + (defaultMessages[f] || f)).join('\\n');\n  const clarMsg = data.clarification_message ||\n    'To schedule your call with a Linde sales representative, I need a few more details. Please provide:\\n' + bulletList;\n\n  const prefill = data.prefill || {};\n\n  return JSON.stringify({\n    response_message: clarMsg,\n    sources: [{ doc_id: '', title: '', file_url: '', type: 'appointment' }],\n    ui: {\n      mode: 'clarification',\n      missing_fields: missing,\n      prefill: Object.assign({ subject: '', duration_min: 60, platform: 'Google Meet' }, prefill)\n    }\n  });\n})() }}",
        "options": {}
      },
      "id": "78d440c0-db65-40aa-b241-6b21e6347152",
      "name": "Respond Appt Clarification",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -128,
        2800
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-tracking-snapshot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a543e6af-a8c5-46c3-a34f-3469188e9a19",
      "name": "order tracking snapshot",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -2464,
        256
      ],
      "webhookId": "454eb4ea-e460-4196-b31c-284abf234fc3",
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.email }}",
        "subject": "=Order Tracking Update — {{ $json.body.tracking_data.order_id || 'Your Order' }} ({{ $json.body.tracking_data.current_status || 'Status Update' }})",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0;padding:0;background-color:#E8EAED;font-family:'Segoe UI',Arial,sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#E8EAED;padding:48px 16px;\">\n  <tr><td align=\"center\">\n    <table width=\"640\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:640px;width:100%;\">\n\n      <!-- BRAND BAR -->\n      <tr>\n        <td style=\"background:#003057;padding:16px 44px;border-radius:14px 14px 0 0;\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td style=\"font-size:13px;font-weight:700;letter-spacing:3px;color:#4A90B8;text-transform:uppercase;\">Linde Gas</td>\n            <td align=\"right\" style=\"font-size:11px;color:#1E4A6B;letter-spacing:1px;text-transform:uppercase;\">AI Logistics Assistant</td>\n          </tr></table>\n        </td>\n      </tr>\n\n      <!-- HERO -->\n      <tr>\n        <td style=\"background:#003057;padding:44px 44px 40px;\">\n          <div style=\"display:inline-block;background:rgba(0,160,210,0.12);border:1px solid rgba(0,160,210,0.3);border-radius:100px;padding:5px 16px;margin-bottom:24px;\">\n            <span style=\"font-size:10px;font-weight:700;letter-spacing:2px;color:#00A0D2;text-transform:uppercase;\">Order Tracking Update</span>\n          </div>\n          <h1 style=\"margin:0 0 14px;font-size:32px;font-weight:300;color:#FFFFFF;line-height:1.2;\">\n            Your order<br><strong style=\"font-weight:700;\">tracking snapshot.</strong>\n          </h1>\n          <p style=\"margin:0;font-size:14px;color:#5A8BAA;line-height:1.7;max-width:440px;\">\n            Here is the latest status for order <strong style=\"color:#ffffff;\">{{ $json.body.tracking_data.order_id || '—' }}</strong>.\n          </p>\n        </td>\n      </tr>\n\n      <!-- ACCENT LINE -->\n      <tr>\n        <td style=\"background:#FFFFFF;padding:0 44px;\">\n          <div style=\"height:3px;background:linear-gradient(90deg,#003057,#00A0D2,#00C8E6,transparent);\"></div>\n        </td>\n      </tr>\n\n      <!-- STATUS BADGE -->\n      <tr>\n        <td style=\"background:#FFFFFF;padding:28px 44px 8px;\">\n          <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td style=\"background:#E8F4FB;border:1px solid #00A0D2;border-radius:100px;padding:6px 20px;\">\n              <span style=\"font-size:13px;font-weight:700;color:#003057;letter-spacing:1px;\">{{ $json.body.tracking_data.current_status || 'Unknown' }}</span>\n            </td>\n          </tr></table>\n          {{ $json.body.tracking_data.status_detail ? '<p style=\"margin:10px 0 0;font-size:13px;color:#5A8BAA;\">ℹ️ ' + $json.body.tracking_data.status_detail + '</p>' : '' }}\n        </td>\n      </tr>\n\n      <!-- DETAILS TABLE -->\n      <tr>\n        <td style=\"background:#FFFFFF;padding:24px 44px 32px;\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F4F7FA;border:1px solid #DDE6ED;border-radius:12px;border-collapse:collapse;\">\n            {{ $json.body.tracking_data.order_id ? '<tr><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;width:40%;\"><span style=\"font-size:10px;font-weight:700;letter-spacing:1px;text-transform:uppercase;color:#8FA8B8;\">Order ID</span></td><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:13px;font-weight:600;color:#003057;\">' + $json.body.tracking_data.order_id + '</span></td></tr>' : '' }}\n            {{ $json.body.tracking_data.carrier ? '<tr><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:10px;font-weight:700;letter-spacing:1px;text-transform:uppercase;color:#8FA8B8;\">Carrier</span></td><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:13px;font-weight:600;color:#003057;\">' + $json.body.tracking_data.carrier + '</span></td></tr>' : '' }}\n            {{ $json.body.tracking_data.tracking_number ? '<tr><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:10px;font-weight:700;letter-spacing:1px;text-transform:uppercase;color:#8FA8B8;\">Tracking #</span></td><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:13px;font-weight:600;color:#00A0D2;\">' + $json.body.tracking_data.tracking_number + '</span></td></tr>' : '' }}\n            {{ $json.body.tracking_data.customer_name ? '<tr><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:10px;font-weight:700;letter-spacing:1px;text-transform:uppercase;color:#8FA8B8;\">Customer</span></td><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:13px;font-weight:600;color:#003057;\">' + $json.body.tracking_data.customer_name + '</span></td></tr>' : '' }}\n            {{ $json.body.tracking_data.product ? '<tr><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:10px;font-weight:700;letter-spacing:1px;text-transform:uppercase;color:#8FA8B8;\">Product</span></td><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:13px;font-weight:600;color:#003057;\">' + $json.body.tracking_data.product + '</span></td></tr>' : '' }}\n            {{ ($json.body.tracking_data.ship_to_city || $json.body.tracking_data.country) ? '<tr><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:10px;font-weight:700;letter-spacing:1px;text-transform:uppercase;color:#8FA8B8;\">Destination</span></td><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:13px;font-weight:600;color:#003057;\">' + [$json.body.tracking_data.ship_to_city, $json.body.tracking_data.country].filter(Boolean).join(', ') + '</span></td></tr>' : '' }}\n            {{ $json.body.tracking_data.order_date ? '<tr><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:10px;font-weight:700;letter-spacing:1px;text-transform:uppercase;color:#8FA8B8;\">Order Date</span></td><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:13px;font-weight:600;color:#003057;\">' + $json.body.tracking_data.order_date + '</span></td></tr>' : '' }}\n            {{ $json.body.tracking_data.eta ? '<tr><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:10px;font-weight:700;letter-spacing:1px;text-transform:uppercase;color:#8FA8B8;\">ETA</span></td><td style=\"padding:12px 20px;border-bottom:1px solid #DDE6ED;\"><span style=\"font-size:13px;font-weight:600;color:#003057;\">' + $json.body.tracking_data.eta + '</span></td></tr>' : '' }}\n            {{ $json.body.tracking_data.delivered_date ? '<tr><td style=\"padding:12px 20px;\"><span style=\"font-size:10px;font-weight:700;letter-spacing:1px;text-transform:uppercase;color:#8FA8B8;\">Delivered</span></td><td style=\"padding:12px 20px;\"><span style=\"font-size:13px;font-weight:600;color:#10b981;\">' + $json.body.tracking_data.delivered_date + '</span></td></tr>' : '' }}\n          </table>\n        </td>\n      </tr>\n\n      <!-- SIGNATURE -->\n      <tr>\n        <td style=\"background:#FFFFFF;padding:0 44px 40px;\">\n          <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td style=\"width:44px;height:44px;background:#003057;border-radius:50%;text-align:center;vertical-align:middle;\">\n              <span style=\"font-size:18px;color:#00A0D2;font-weight:700;\">L</span>\n            </td>\n            <td style=\"padding-left:14px;vertical-align:middle;\">\n              <p style=\"margin:0;font-size:14px;font-weight:700;color:#003057;\">Linde Gas</p>\n              <p style=\"margin:2px 0 0;font-size:12px;color:#5A8BAA;\">AI-Powered Logistics Assistant</p>\n            </td>\n          </tr></table>\n        </td>\n      </tr>\n\n      <!-- FOOTER -->\n      <tr>\n        <td style=\"background:#003057;padding:22px 44px;border-radius:0 0 14px 14px;\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td style=\"font-size:11px;color:#1E4A6B;line-height:1.8;\">\n              <a href=\"https://www.linde.com\" style=\"color:#4A90B8;text-decoration:none;\">linde.com</a>\n              &nbsp;·&nbsp;\n              <a href=\"mailto:support@linde.com\" style=\"color:#4A90B8;text-decoration:none;\">support@linde.com</a>\n            </td>\n            <td align=\"right\" style=\"font-size:10px;color:#1E4A6B;\">Automated · Do not reply directly</td>\n          </tr></table>\n        </td>\n      </tr>\n\n    </table>\n  </td></tr>\n</table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "senderName": "Linde's AI Assistant"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2144,
        256
      ],
      "id": "b7e3f921-4dc2-4a8b-9f3d-1a2c3d4e5f6a",
      "name": "Send Tracking Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "EKPzxPTrRoLGYUYU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1824,
        256
      ],
      "id": "c8f4a032-5ed3-4b9c-8e1f-2b3c4d5e6f7b",
      "name": "Respond Tracking Email OK"
    }
  ],
  "connections": {
    "Set file URL in Google Drive": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Set max chunks to send to model": {
      "main": [
        [
          {
            "node": "Get top chunks matching query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get top chunks matching query": {
      "main": [
        [
          {
            "node": "Prepare chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare chunks": {
      "main": [
        [
          {
            "node": "Answer the query based on chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer the query based on chunks": {
      "main": [
        [
          {
            "node": "Compose citations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose citations": {
      "main": [
        [
          {
            "node": "Generate response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate response": {
      "main": [
        [
          {
            "node": "Respond with attachment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Get top chunks matching query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer the query based on chunks",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On GET request1": {
      "main": [
        [
          {
            "node": "Intent Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document API": {
      "main": [
        [
          {
            "node": "Google Drive For Stored PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive For Stored PDF": {
      "main": [
        [
          {
            "node": "Respond with attachment PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Document in Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Product Data Sheet": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "downstream node": {
      "main": [
        [
          {
            "node": "Confidence Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set max chunks to send to model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quotation Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delivery Status Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Availability Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Gate": {
      "main": [
        [
          {
            "node": "Multi-Intent Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Agent": {
      "main": [
        [
          {
            "node": "downstream node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set file URL in Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Greeting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Quotation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Quotation Agent": {
      "main": [
        [
          {
            "node": "Set max chunks to send to model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set max chunks to send to model1": {
      "main": [
        [
          {
            "node": "Get top chunks matching query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get top chunks matching query1": {
      "main": [
        [
          {
            "node": "Prepare chunks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare chunks1": {
      "main": [
        [
          {
            "node": "Answer the query based on chunks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer the query based on chunks1": {
      "main": [
        [
          {
            "node": "Compose citations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose citations1": {
      "main": [
        [
          {
            "node": "Generate response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate response1": {
      "main": [
        [
          {
            "node": "Respond to Webhook Quotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Get top chunks matching query1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Answer the query based on chunks1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set file URL in Google Drive1": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Validate Appt Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Delivery Status Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Status Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Orders Lookup": {
      "ai_tool": [
        [
          {
            "node": "Delivery Status Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "General Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "General Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Availability Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model Availability": {
      "ai_languageModel": [
        [
          {
            "node": "Availability Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Availability Master Sheet": {
      "ai_tool": [
        [
          {
            "node": "Availability Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Intent Agent": {
      "ai_memory": [
        [
          {
            "node": "Intent Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Greeting Agent": {
      "ai_memory": [
        [
          {
            "node": "Greeting Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Quotation Agent": {
      "ai_memory": [
        [
          {
            "node": "Quotation Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Calendar Agent": {
      "ai_memory": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Delivery Status Agent": {
      "ai_memory": [
        [
          {
            "node": "Delivery Status Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memory - General Agent": {
      "ai_memory": [
        [
          {
            "node": "General Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Availability Agent": {
      "ai_memory": [
        [
          {
            "node": "Availability Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Multi-Intent Check": {
      "main": [
        [
          {
            "node": "Set Chunks Multi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Chunks Multi": {
      "main": [
        [
          {
            "node": "Get DS Chunks Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DS Chunks Multi": {
      "main": [
        [
          {
            "node": "Extract DS Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings DS Multi": {
      "ai_embedding": [
        [
          {
            "node": "Get DS Chunks Multi",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract DS Sources": {
      "main": [
        [
          {
            "node": "Get QT Chunks Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get QT Chunks Multi": {
      "main": [
        [
          {
            "node": "Build Multi Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings QT Multi": {
      "ai_embedding": [
        [
          {
            "node": "Get QT Chunks Multi",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Build Multi Response": {
      "main": [
        [
          {
            "node": "Respond Multi-Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Appt Fields": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Appt Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "order tracking snapshot": {
      "main": [
        [
          {
            "node": "Send Tracking Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Tracking Email": {
      "main": [
        [
          {
            "node": "Respond Tracking Email OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "362d0ae9bb7b73cd3dfea8a295e99696cbc5d8b53ef5b687c5671bee8a1b31fb"
  }
}